---
layout: page
---
<!DOCTYPE html>
<html dir="ltr" lang="en">

<body>
    <div class="preloader">
        <div class="lds-ripple">
            <div class="lds-pos"></div>
            <div class="lds-pos"></div>
        </div>
    </div>
    <div id="main-wrapper" data-theme="light" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
        data-sidebar-position="fixed" data-header-position="fixed" data-boxed-layout="full">
        {% include header.html %}

        {% include sidebar.html %}

        <div class="page-wrapper">
            <div class="page-breadcrumb">
                <div class="row">
                    <div class="col-12 align-self-center">
                        <h1 class="page-title text-dark font-weight-medium mb-1">Come si usa?</h1>
                        <div class="d-flex align-items-center">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb m-0 p-0">
                                    <li class="breadcrumb-item">
                                        Uno strumento semplice, alla portata di tutti
                                    </li>
                                </ol>
                            </nav>
                        </div>
                    </div>

                </div>
            </div>

            <div class="container-fluid" style="padding-top: 15px;">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <h2 class="card-title">Io Resto A Casa .work</h2>
                                <h3 class="card-subtitle mt-2 mb-2 text-muted">Il #covid19 ci obbliga a rimanere dentro
                                    casa. Questo non significa che dobbiamo smettere di lavorare, studiare,
                                    socializzare.</h3>
                                <h3 class="card-subtitle mt-2 mb-2 text-muted">Ci sono tanti strumenti che possiamo
                                    utilizzare per lo #smartworking, ma molti non sanno come fare. Abbiamo deciso di
                                    rimboccarci le maniche ed aiutare queste persone.</h3>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-body">
                                <h2 class="card-title">
                                    <a href="https://jitsi.org/jitsi-meet/">
                                        <img style="height: 34px;" class="img-responsive" title="Jitsi Meet"
                                            src="./assets/images/big/jitsi.png">
                                        Jitsi Meet
                                    </a>
                                    e
                                    <a href="https://github.com/havfo/multiparty-meeting">
                                        <img style="height: 34px;" class="img-responsive" title="Multiparty-Meeting"
                                            src="./assets/images/big/mm.png">
                                        Multiparty-Meeting
                                    </a>
                                </h2>
                                <h3 class="card-subtitle mt-2 mb-2 text-muted">
                                    Sono due progetti <a href="https://it.wikipedia.org/wiki/Software_libero"
                                        target="_blank">Open Source</a> che permettono di effettuare videochiamate
                                    semplicemente aprendo un URL tramite browser, <b>senza installare programmi</b>,
                                    senza <b>registrarsi</b>.<br>
                                    Stiamo sperimentando Multiparty-Meeting oltre a Jitsi perché ottimizza l'utilizzo di
                                    banda, che in questi giorni è particolarmente sotto stress.
                                </h3>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-body">
                                <h2 class="card-title">Browser supportati</h2>
                                <h3 class="card-subtitle mt-2 mb-2 text-muted">
                                    WebRTC, la tecnologia che permette di effettuare videochiamate tramite browser,
                                    funziona al meglio con <a
                                        href="https://www.chromium.org/developers/how-tos/get-the-code">Chromium</a> o
                                    <a href="https://www.google.com/intl/it_it/chrome/">Google Chrome</a>.
                                </h3>
                                <h3 class="card-subtitle mt-2 mb-2 text-muted">
                                    Puoi usare Jitsi da smartphone installando la app per <a
                                        href="https://play.google.com/store/apps/details?id=org.jitsi.meet">Android</a>
                                    o <a href="https://itunes.apple.com/us/app/jitsi-meet/id1165103905">iOS</a>
                                </h3>
                                <h3 class="card-subtitle mt-2 mb-2 text-muted">
                                    Multiparty-Meeting invece può essere usato dal browser del telefono senza installare
                                    alcuna app!
                                </h3>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-body">
                                <h2 class="card-title">Scegli un server dalla <a href="index.html">lista</a></h2>
                                <h3 class="card-subtitle mt-2 mb-2 text-muted">
                                    È meglio scegliere quello con meno utenti collegati.<br>
                                    In ogni caso, ognuno dei server della lista è in grado di ospitare almeno una
                                    videochiamata da 30-40 persone (alcuni molte di più).
                                </h3>
                                <h3 class="card-subtitle mt-2 mb-2 text-muted">
                                    Se non vuoi scegliere dalla lista, puoi direttamente inserire il nome della stanza
                                    nella homepage e premere su <span class="btn btn-success"><b>CREA</b></span>
                                </h3>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-body">
                                <h2 class="card-title">Inserisci il nome per la tua stanza</h2>
                                <h3 class="card-subtitle mt-2 mb-2 text-muted">
                                    Scegli un nome identificativo unico per la videochiamata che vuoi creare.
                                </h3>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-body">
                                <h2 class="card-title">Condividi il link</h2>
                                <h3 class="card-subtitle mt-2 mb-2 text-muted">Una volta entrato nella stanza, condividi
                                    il link ai tuoi amici, colleghi studenti e aspetta che si colleghino.</h3>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-body">
                                <h2 class="card-title">Segui alcune accortezze</h2>
                                <h3 class="card-subtitle mt-2 mb-2 text-muted">
                                    Per ottenere la migliore esperienza devi assicurarti di osservare alcune accortezze:
                                    <ul>
                                        <li>preferire la connessione via cavo al WiFi</li>
                                        <li>ogni utente deve assicurarsi di avere a disposizione almeno 4Mbps in upload
                                            e download</li>
                                        <li>dotarsi di cuffie</li>
                                        <li>spegnere la webcam se non si sta parlando</li>
                                        <li>accendere il microfono solo quando si parla (in Jitsi la barra spaziatrice
                                            funge comodamente da "push to talk")</li>
                                        <li>abbassare la qualità video nelle impostazioni</li>
                                    </ul>
                                </h3>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-body">
                                <h2 class="card-title">Spargi la voce!</h2>
                                <h3 class="card-subtitle mt-2 mb-2 text-muted">Condividi il link <a
                                        href="https://iorestoacasa.work">https://iorestoacasa.work</a> a chi pensi possa
                                    averne bisogno.</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {%include footer.html%}

    </div>

    <script src="./assets/libs/jquery/dist/jquery.min.js"></script>
    <script src="./assets/libs/popper.js/dist/umd/popper.min.js"></script>
    <script src="./assets/libs/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="./dist/js/app-style-switcher.js"></script>
    <script src="./dist/js/feather.min.js"></script>
    <script src="./assets/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js"></script>
    <script src="./dist/js/sidebarmenu.js"></script>
    <script src="./dist/js/custom.min.js"></script>

</body>

</html>