---
layout: page
---
<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>
    {% include head.html %}
</head>

<body>
    <div class="preloader">
        <div class="lds-ripple">
            <div class="lds-pos"></div>
            <div class="lds-pos"></div>
        </div>
    </div>
    <div id="main-wrapper" data-theme="light" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
        data-sidebar-position="fixed" data-header-position="fixed" data-boxed-layout="full">
        {% include header.html %}

        {% include sidebar.html %}

        <div class="page-wrapper">
            <div class="page-breadcrumb">
                <div class="row">
                    <div class="col-12 align-self-center">
                        <h1 class="page-title text-dark font-weight-medium mb-1">Come si usa?</h1>
                        <div class="d-flex align-items-center">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb m-0 p-0">
                                    <li class="breadcrumb-item">
                                        Uno strumento semplice, alla portata di tutti
                                    </li>
                                </ol>
                            </nav>
                        </div>
                    </div>

                </div>
            </div>

            <div class="container-fluid" style="padding-top: 15px;">
                <div class="row">
                    <div class="col-12">
                        <div class="card-deck">
                            <div class="card">
                                <div class="card-header bg-info text-white">
                                    <h2 class="mb-0"><b>Un solo click per avviare una videochiamata</b></h2>
                                </div>
                                <div class="card-body">
                                    <h3 class="card-subtitle mt-2 mb-2 text-muted">
                                        <span class="badge badge-pill font-18 text-white bg-primary mb-2
                                            mr-2" style="font-weight: 700; width: 35px;">1</span>Scegli un nome unico
                                        per la tua
                                        videochiamata<br><br>
                                        <span class="badge badge-pill font-18 text-white bg-primary
                                            mr-2 mb-2" style="font-weight: 700; width: 35px">2</span>Entra nella
                                        videochiamata con il browser<br><br>
                                        <span class="badge badge-pill font-18 text-white bg-primary
                                            mr-2" style="font-weight: 700; width: 35px">3</span>Condividi
                                        il link in modo che altri possano unirsi alla videochiamata<br>
                                    </h3>
                                </div>
                            </div>

                            <div class=" card">
                                <div class="card-header bg-info text-white">
                                    <h2 class="mb-0"><b>Jitsi e eduMEET</b></h2>
                                </div>
                                <div class="card-body">
                                    <h3 class="card-subtitle mt-2 mb-2 text-muted">
                                        Sono due progetti <a href="https://it.wikipedia.org/wiki/Software_libero"
                                            target="_blank" rel="noreferrer">Open Source</a> che permettono
                                        di
                                        effettuare
                                        videochiamate
                                        semplicemente aprendo un URL tramite browser, <b>senza installare
                                            programmi</b>,
                                        senza <b>registrarsi</b>.<br>
                                    </h3>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 mt-3">
                        <div class="card-deck">
                            <div class="card">
                                <div class="card-header bg-info text-white">
                                    <h2 class="mb-0"><b>Browser supportati</b></h2>
                                </div>
                                <div class="card-body">
                                    <h3 class="card-subtitle mt-2 mb-2 text-muted">
                                        WebRTC, la tecnologia che permette di effettuare videochiamate tramite
                                        browser,
                                        funziona al meglio con <a
                                            href="https://www.chromium.org/developers/how-tos/get-the-code">Chromium</a>
                                        o
                                        <a href="https://www.google.com/intl/it_it/chrome/">Google Chrome</a>.
                                    </h3>
                                    <h3 class="card-subtitle mt-2 mb-2 text-muted">
                                        Puoi usare <b>Jitsi</b> da smartphone installando la app per <a
                                            href="https://play.google.com/store/apps/details?id=org.jitsi.meet">Android</a>
                                        o <a href="https://itunes.apple.com/us/app/jitsi-meet/id1165103905">iOS</a>
                                    </h3>
                                    <h3 class="card-subtitle mt-2 mb-2 text-muted">
                                        <b>eduMEET</b> invece può essere usato dal browser del telefono senza
                                        installare
                                        alcuna app!
                                    </h3>
                                </div>
                            </div>

                            <div class="card">
                                <div class="card-header bg-info text-white">
                                    <h2 class="mb-0"><b>Segui alcune accortezze</b></h2>
                                </div>
                                <div class="card-body">
                                    <h3 class="card-subtitle mt-2 mb-2 text-muted">
                                        Per ottenere la migliore esperienza devi assicurarti di osservare alcune
                                        accortezze:
                                        <ul>
                                            <li>preferire la connessione via cavo al WiFi</li>
                                            <li>ogni utente deve assicurarsi di avere a disposizione almeno 4Mbps in
                                                upload
                                                e download</li>
                                            <li>dotarsi di cuffie</li>
                                            <li>spegnere la webcam se non si sta parlando</li>
                                            <li>accendere il microfono solo quando si parla <i>(in Jitsi la barra
                                                    spaziatrice
                                                    funge comodamente da "push to talk")</i></li>
                                            <li>abbassare la qualità video nelle impostazioni</li>
                                        </ul>
                                    </h3>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="col-12 mt-3">
                        <div class="card">
                            <div class="card-header bg-info text-white">
                                <h2 class="mb-0"><b>Spargi la voce</b></h2>
                            </div>
                            <div class="card-body">
                                <h3 class="card-subtitle mt-2 mb-2 text-muted">Condividi il link <a
                                        href="https://iorestoacasa.work">https://iorestoacasa.work</a> a chi pensi
                                    possa
                                    averne bisogno.</h3>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    {%include footer.html%}

    </div>

    <script src="./assets/libs/jquery/dist/jquery.min.js"></script>
    <script src="./assets/libs/popper.js/dist/umd/popper.min.js"></script>
    <script src="./assets/libs/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="./dist/js/app-style-switcher.js"></script>
    <script src="./dist/js/feather.min.js"></script>
    <!-- <script src="./assets/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js"></script> -->
    <script src="./dist/js/sidebarmenu.js"></script>
    <script src="./dist/js/custom.js"></script>

</body>

</html>