---
layout: page
---
<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>
    {% include head.html %}
    <link href="./dist/css/animated-bg.css" rel="stylesheet">
    <style>
        .btn-footer {
            background-color: white !important;
            box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
        }

        body {
            overflow-y: hidden;
        }

        @media (min-width: 768px) and (max-width: 1199.98px) {
            .margin-top-slider {
                margin-top: 22% !important;
            }
        }

        @media (min-width: 768px) and (max-width: 992px) {
            .margin-top-slider {
                margin-top: 6% !important;
            }
        }

        @media (min-width: 1200px) {
            .margin-top-slider {
                margin-top: 4% !important;
            }
        }

        @media (min-width: 768px) {
            .blog-slider__content {
                max-width: 75%;
            }

            .left-desktop {
                left: 6%;
            }
        }

        .center-slider {
            justify-content: center !important;
        }
    </style>
</head>

<body>
    <div class="preloader">
        <div class="lds-ripple">
            <div class="lds-pos"></div>
            <div class="lds-pos"></div>
        </div>
    </div>


    <div id="main-wrapper" data-theme="light" data-layout="vertical" data-navbarbg="skin6" data-sidebar-position="fixed"
        data-header-position="fixed" data-boxed-layout="full">

        {% include header-homepage.html %}
        {% include sidebar.html %}

        <div class="page-wrapper" id="vue-date">
            <div class="container-fluid min-vh-100 bg-primary">

                <div class="row justify-content-center flex-grow-1">
                    <div class="area">
                        <ul class="circles">
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                        </ul>
                    </div>
                </div>
                <div class="row align-items-center">
                    <div class="col d-none d-xl-block text-white">
                        <div class="text-right">
                            <h1 class="display-2 font-weight-bold">[[ getTime() ]]</h1>
                            <h2 class="font-weight-light" style="margin-top: -15px;">[[ getDay() ]]</h2>
                        </div>
                    </div>
                </div>

                <div class="h-100 d-flex justify-content-center align-items-center margin-top-slider">
                    {% include slider-homepage.html %}
                </div>
            </div>
        </div>
    </div>
    </div>

    {% include footer.html %}

    <script src="./assets/libs/jquery/dist/jquery.min.js"></script>
    <script src="./assets/libs/popper.js/dist/umd/popper.min.js"></script>
    <script src="./assets/libs/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="./dist/js/app-style-switcher.js"></script>
    <script src="./dist/js/feather.min.js"></script>
    <!-- <script src="./assets/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js"></script> -->
    <script src="./dist/js/sidebarmenu.js"></script>
    <script src="./dist/js/custom.js"></script>

    <script src="./dist/js/swiper.min.js"></script>

    <script src="dist/js/vue.min.js"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> -->
    <script>
        var app = new Vue({
            el: '#vue-date',
            delimiters: ['[[', ']]'],
            data: {
                date: new Date(),
                swiper: null,
            },
            mounted: function () {
                this.swiper = new Swiper('.blog-slider', {
                    spaceBetween: 30,
                    effect: 'fade',
                    loop: true,
                    mousewheel: {
                        invert: false,
                    },
                    // allowSwipeToNext: false,
                    // allowSwipeToPrev: false,
                    pagination: {
                        el: '.blog-slider__pagination',

                    },
                    observer: true,
                    observeParents: true,
                });
            },
            methods: {
                getTime: function () {
                    let options = {
                        hour: "2-digit",
                        minute: "2-digit"
                    };
                    return this.date.toLocaleTimeString("it-it", options);
                },
                getDay: function () {
                    let options = {
                        weekday: "long",
                        month: "long",
                        day: "numeric",
                    };
                    return this.date.toLocaleString("it-it", options);
                },
                goNextSlide: function () {
                    this.swiper.slideNext();
                },
                isMobile: function () {
                    return (/iphone|ipod|android|ie|blackberry|fennec/).test(navigator.userAgent
                        .toLowerCase());
                },
                betterSolution: function (val) {
                    if (val === false) {
                        return `<div class="row">
                            <div class="col-md-6">
                         <div class="margin-left-desktop card shadow" style="border-radius: 25px;">
                             <div class="card-body">
                                 <h3 class="card-title">Jitsi<span
                                         class="ml-2 badge badge-pill badge-primary"><b>Consigliato</b></span></h3>
                                 <p class="card-text">Stabile, concreto e solido. Richiede una buona connessione e l'app
                                     ufficiale disponibile nei vari store</p>
                                 <button v-on:click="goNextSlide()"
                                     class="btn btn-success btn-rounded float-right"><b>UTILIZZA</b></button>
                             </div>
                         </div>
                     </div>
                     <div class="col-md-6">
                         <div class="card shadow-none" style="border-radius: 25px;">
                             <div class="card-body">
                                 <h3 class="card-title">Multiparty Meeting</h3>
                                 <p class="card-text">Leggero, veloce e sperimentale. Non richiede alcuna applicazione
                                     installata!</p>
                                 <button v-on:click="goNextSlide()"
                                     class="btn btn-rounded waves-effect waves-light btn-outline-primary
                                     float-right">UTILIZZA</button>
                             </div>
                         </div>
                     </div>
                     </div>`
                    } else {
                        return `<div class="row">
                            <div class="col-md-6">
                            <div class="margin-left-desktop card shadow" style="border-radius: 25px;">
                                <div class="card-body">
                                    <h3 class="card-title">Multiparty Meeting<span
                                            class="ml-2 badge badge-pill badge-primary"><b>Consigliato</b></span></h3>
                                    <p class="card-text">Leggero, veloce e sperimentale. Non richiede alcuna
                                        applicazione
                                        installata!</p>
                                     <button v-on:click="goNextSlide()"
                                         class="btn btn-success btn-rounded float-right"><b>UTILIZZA</b></button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="card shadow-none" style="border-radius: 25px;">
                                 <div class="card-body">
                                     <h3 class="card-title">Jitsi</h3>
                                     <p class="card-text">Stabile, concreto e solido. Richiede una buona connessione e
                                         l'app
                                         ufficiale disponibile nei vari store</p>
                                    <button v-on:click="goNextSlide()" class="btn btn-rounded waves-effect waves-light btn-outline-primary
                                     float-right">UTILIZZA</button>
                                 </div>
                            </div>
                        </div>
                        </div>`
                    }
                }
            },
        })
    </script>
</body>

</html>