---
layout: page
---
<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>
    {% include head.html %}
    <link href="./dist/css/animated-bg.css" rel="stylesheet">
    <style>
        .btn-footer {
            background-color: white !important;
            box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
        }

        body {
            overflow-y: hidden;
        }

        @media (min-width: 768px) and (max-width: 1199.98px) {
            .margin-top-slider {
                margin-top: 22% !important;
            }
        }

        @media (min-width: 768px) and (max-width: 992px) {
            .margin-top-slider {
                margin-top: 6% !important;
            }
        }

        @media (min-width: 1200px) {
            .margin-top-slider {
                margin-top: 6% !important;
            }
        }

        @media (min-width: 768px) {
            .blog-slider__content {
                max-width: 75%;
            }

            .left-desktop {
                left: 6%;
            }
        }

        .center-slider {
            justify-content: center !important;
        }
    </style>
</head>

<body>
    <div class="preloader">
        <div class="lds-ripple">
            <div class="lds-pos"></div>
            <div class="lds-pos"></div>
        </div>
    </div>


    <div id="main-wrapper" data-theme="light" data-layout="vertical" data-navbarbg="skin6" data-sidebar-position="fixed"
        data-header-position="fixed" data-boxed-layout="full">

        {% include header-homepage.html %}
        {% include sidebar.html %}

        <div class="page-wrapper" id="vue-date">
            <div class="container-fluid min-vh-100 bg-primary">

                <div class="row justify-content-center flex-grow-1">
                    <div class="area">
                        <ul class="circles">
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                        </ul>
                    </div>
                </div>
                <div class="row align-items-center">
                    <div class="col d-none d-xl-block text-white">
                        <div class="text-right">
                            <h1 class="display-2 font-weight-bold">[[ getTime() ]]</h1>
                            <h2 class="font-weight-light" style="margin-top: -15px;">[[ getDay() ]]</h2>
                        </div>
                    </div>
                </div>

                <div class="h-100 d-flex justify-content-center align-items-center margin-top-slider">
                    {% include slider-homepage.html %}
                </div>
            </div>
        </div>
    </div>
    </div>

    {% include footer.html %}

    <!-- #Smartworking #smartlearning #isolatimanonsoli #hopeaftercovid -->

    <script src="./assets/libs/jquery/dist/jquery.min.js"></script>
    <script src="./assets/libs/popper.js/dist/umd/popper.min.js"></script>
    <script src="./assets/libs/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="./dist/js/app-style-switcher.js"></script>
    <script src="./dist/js/feather.min.js"></script>
    <!-- <script src="./assets/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js"></script> -->
    <script src="./dist/js/sidebarmenu.js"></script>
    <script src="./dist/js/custom.js"></script>

    <script src="./dist/js/swiper.min.js"></script>

    <script src="dist/js/vue.min.js"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> -->
    <script src="dist/js/app.js"></script>
    <script>
        var app = new Vue({
            el: '#vue-date',
            mixins: [hostsMixin],
            delimiters: ['[[', ']]'],
            data: {
                date: new Date(),
                swiper: null,
                hosts: [],
                room: "",
                options_time: {
                    hour: "2-digit",
                    minute: "2-digit"
                },
                options_day: {
                    weekday: "long",
                    month: "long",
                    day: "numeric",
                },
                prefSw: String,
            },
            mounted: function () {
                this.loadHosts();
                this.swiper = new Swiper('.blog-slider', {
                    spaceBetween: 30,
                    effect: 'fade',
                    // loop: true,
                    // mousewheel: {
                    // invert: false,
                    // },
                    allowSwipeToNext: false,
                    allowSwipeToPrev: false,
                    pagination: {
                        el: '.blog-slider__pagination',

                    },
                    observer: true,
                    observeParents: true,
                });
            },
            methods: {
                getTime: function () {
                    return this.date.toLocaleTimeString("it-it", this.options_time);
                },
                getDay: function () {
                    return this.date.toLocaleString("it-it", this.options_day);
                },
                savePrefSw: function (sw) {
                    this.prefSw = sw
                    this.goNextSlide();
                },
                goNextSlide: function () {
                    this.swiper.slideNext();
                },
                restartSlider: function () {
                    this.swiper.slideTo(1);
                },
                goToRoom: function (e) {
                    if (this.room === "") {
                        this.room = Math.random().toString(36).substring(2, 15) +
                            Math.random().toString(36).substring(2, 15);
                    }
                    this.room = this.room.replace(/([^a-z0-9]+)/gi, '-');

                    let base_url = this.hosts.find(u => u.software === e).url;
                    if (base_url.slice(-1) !== '/')
                        base_url += '/';
                    window.open(base_url + this.room);
                    this.swiper.slideTo(0);
                },

            },
        })
    </script>
</body>

</html>