---
layout: page
---
<!DOCTYPE html>
<html dir="ltr" lang="en">
<head>
    {% include head.html %}
</head>
<body>
    <div class="preloader">
        <div class="lds-ripple">
            <div class="lds-pos"></div>
            <div class="lds-pos"></div>
        </div>
    </div>
    <div id="main-wrapper" data-theme="light" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
        data-sidebar-position="fixed" data-header-position="fixed" data-boxed-layout="full">

        {% include header.html %}

        {%include sidebar.html%}

        <div class="page-wrapper">
            <div class="page-breadcrumb">
                <div class="row">
                    <div class="col-12 align-self-center">
                        <h1 class="page-title text-dark font-weight-medium mb-1">News</h1>
                        <div class="d-flex align-items-center">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb m-0 p-0">
                                    <li class="breadcrumb-item">
                                        Ricordati di iscriverti al <a href="https://t.me/iorestoacasaworknews">canale
                                            Telegram</a> per rimanere aggiornato sul progetto.
                                        lettura!
                                    </li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container-fluid" style="padding-top: 15px;">
                {% assign psize = site.news | size %}
                {% if psize == 0 %}
                <div class="alert alert-primary" role="alert">
                    <strong>Nessun articolo - </strong> Al momento non sono disponibili articoli da visualizzare 🥺
                </div>
                {% else %}
                {% for post in site.news reversed %}
                <div class="row">
                    <div class="col-12">
                        <div class="card border-info">
                            <div class="card-header bg-info">
                                <h4 class="mb-0 text-white">
                                    {% assign m = post.date | date: "%-m" %}
                                    {{ post.date | date: "%-d" }}
                                    {% case m %}
                                    {% when '1' %}Gennaio
                                    {% when '2' %}Febbraio
                                    {% when '3' %}Marzo
                                    {% when '4' %}Aprile
                                    {% when '5' %}Maggio
                                    {% when '6' %}Giugno
                                    {% when '7' %}Luglio
                                    {% when '8' %}Agosto
                                    {% when '9' %}Settempre
                                    {% when '10' %}Ottobre
                                    {% when '11' %}Novembre
                                    {% when '12' %}Dicembre
                                    {% endcase %}
                                    {{ post.date | date: "%Y" }}
                                </h4>
                            </div>
                            <div class="card-body">
                                <h3 class="card-title">{{ post.title }}</h3>
                                <p class="card-text">{{ post.desc }}</p>
                                <a href=" ../.{{ post.url }}" class="btn btn-primary float-right"><b> LEGGI</b></a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
                {% endif %}
            </div>
            {%include footer.html%}

        </div>

        <script src="./assets/libs/jquery/dist/jquery.min.js"></script>
        <script src="./assets/libs/popper.js/dist/umd/popper.min.js"></script>
        <script src="./assets/libs/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="./dist/js/app-style-switcher.js"></script>
        <script src="./dist/js/feather.min.js"></script>
        <!-- <script src="./assets/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js"></script> -->
        <script src="./dist/js/sidebarmenu.js"></script>
        <script src="./dist/js/custom.js"></script>
</body>

</html>