---
layout: page
---
<!DOCTYPE html>
<html dir="ltr" lang="en">
<head>
    {% include head.html %}
</head>
<body>
    <div class="preloader">
        <div class="lds-ripple">
            <div class="lds-pos"></div>
            <div class="lds-pos"></div>
        </div>
    </div>
    <div id="main-wrapper" data-theme="light" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
        data-sidebar-position="fixed" data-header-position="fixed" data-boxed-layout="full">
        {% include header.html %}

        {% include sidebar.html %}

        <div class="page-wrapper">
            <div class="container-fluid" style="padding-top: 15px;">
                <div class="row">
                    <div class="col-12 align-self-center">
                        <pre style="white-space: pre-wrap;">{% include privacy_policy.html %}</pre>
                    </div>
                </div>
            </div>
        </div>
        {% include footer.html %}

    </div>

    <script src="./assets/libs/jquery/dist/jquery.min.js"></script>
    <script src="./assets/libs/popper.js/dist/umd/popper.min.js"></script>
    <script src="./assets/libs/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="./dist/js/app-style-switcher.js"></script>
    <script src="./dist/js/feather.min.js"></script>
    <!-- <script src="./assets/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js"></script> -->
    <script src="./dist/js/sidebarmenu.js"></script>
    <script src="./dist/js/custom.js"></script>

</body>

</html>