---
layout: page
---
<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>
    {% include head.html %}
    <link href="./dist/css/pulsar.css" rel="stylesheet">
    <style>
        .jitsi-mm-logo {
            height: 34px;
        }
    </style>
</head>

<body>
    <div class="preloader">
        <div class="lds-ripple">
            <div class="lds-pos"></div>
            <div class="lds-pos"></div>
        </div>
    </div>
    <div id="main-wrapper" data-theme="light" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
        data-sidebar-position="fixed" data-header-position="fixed" data-boxed-layout="full">

        {% include header.html %}

        {% include sidebar.html %}

        <div class="page-wrapper" id="vue-table">
            <div class="page-breadcrumb" id="breadcrumb">
                <div class="row">
                    <div class="col-12 align-self-center">
                        <h1 class="page-title text-dark font-weight-medium mb-1">I server che rendono possibile questo progetto</h1>
                        <div class="d-flex align-items-center">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb m-0 p-0">
                                    <li class="breadcrumb-item">
                                        Messi a disposizione gratuitamente da aziende, istituzioni, associazioni e privati.
                                    </li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container-fluid" style="padding-top: 15px;">
                <div class="card-group">
                    <div class="card border-right">
                        <div class="card-body">
                            <div class="d-flex d-lg-flex d-md-block align-items-center">
                                <div>
                                    <div class="d-inline-flex align-items-center">
                                        <h2 class="text-dark mb-1 font-weight-medium">[[ hosts.length]]</h2>
                                        <!-- <span
                                            class="badge bg-primary font-12 text-white font-weight-medium badge-pill ml-2 d-lg-block d-md-none">+18.33%</span> -->
                                    </div>
                                    <h6 class="text-muted font-weight-normal mb-0 w-100 text-truncate">Server
                                        disponibili</h6>
                                </div>
                                <div class="ml-auto mt-md-3 mt-lg-0">
                                    <span class="opacity-7 text-muted"><i data-feather="archive"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card border-right">
                        <div class="card-body">
                            <div class="d-flex d-lg-flex d-md-block align-items-center">
                                <div>
                                    <h2 class="text-dark mb-1 font-weight-medium">[[
                                        connectedUsers()
                                        ]]</h2>
                                    <h6 class="text-muted font-weight-normal mb-0 w-100 text-truncate">
                                        Persone connesse
                                    </h6>
                                </div>
                                <div class="ml-auto mt-md-3 mt-lg-0">
                                    <span class="opacity-7 text-muted"><i data-feather="users"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex d-lg-flex d-md-block align-items-center">
                                <div>
                                    <h2 class="text-dark mb-1 font-weight-medium">[[ totalBandwidth() ]]</h2>
                                    <h6 class="text-muted font-weight-normal mb-0 w-100 text-truncate">Banda disponibile</h6>
                                </div>
                                <div class="ml-auto mt-md-3 mt-lg-0">
                                    <span class="opacity-7 text-muted"><i data-feather="globe"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>



                <div class="row" style="margin-top: -15px;">
                    <div class="col-12">
                        {% include common_table.html %}
                    </div>
                </div>
            </div>
        </div>
        {% include footer.html %}
    </div>

</body>

</html>