---
layout: page
---
<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>
    {% include head.html %}
    <link href="./dist/css/pulsar.css" rel="stylesheet">
    <style>
        .jitsi-mm-logo {
            height: 34px;
        }
    </style>
</head>

<body>
    <div class="preloader">
        <div class="lds-ripple">
            <div class="lds-pos"></div>
            <div class="lds-pos"></div>
        </div>
    </div>
    <div id="main-wrapper" data-theme="light" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
        data-sidebar-position="fixed" data-header-position="fixed" data-boxed-layout="full">
        <div class="container-fluid" id="vue-table">
            <div class="row mt-4">
                <div class="col-12">
                    {% include table.html %}
                </div>
            </div>
        </div>
    </div>

    {% include footer.html %}


</body>

</html>