<link href="./dist/css/scrolling-text.css" rel="stylesheet">
<style>
    .footer {
        position: fixed;
        bottom: 15px !important;
        width: 100%;
        bottom: 0;
        left: 0;
        right: 0;
        justify-content: center;
        align-items: center;
        height: 40px;
        line-height: 30px;
        padding: 4px;
        background-color: #ffffff00;
    }
</style>

<footer class="footer text-center" id="footer-page">
    <span class="badge badge-pill font-16 text-muted shadow-lg" style="background-color: white">
        <div class="hideoverflow">
            <div class="scrolling">
                <div id="hashtags-head" class="text"></div>
                <div class="text">
                    Made with ❤️ in <a href="https://it.wikipedia.org/wiki/Fabriano" target="_blank"
                        rel="noreferrer">Fabriano</a>
                </div>
                <div id="hashtags-feet" class="text"></div>
            </div>
        </div>
    </span>
</footer>

<script>
    var hashtags = [
        "#smartworking",
        "#remoteworking",
        "#isolatimanonsoli",
        "#hopeaftercovid",
    ];

    function getHashtag() {
        return this.hashtags[Math.floor(Math.random() * this.hashtags.length)]
    }

    document.getElementById("hashtags-head").innerHTML = getHashtag();
    document.getElementById("hashtags-feet").innerHTML = getHashtag();
</script>