<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Primary Meta Tags -->
<title>Io Resto A Casa .work</title>
<meta name="title" content="Io Resto A Casa .work">
<meta name="description" content="Continuiamo a lavorare, studiare, socializzare grazie a Jitsi Meet">

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content="https://iorestoacasa.work/">
<meta property="og:title" content="Io Resto A Casa .work">
<meta property="og:description" content="Continuiamo a lavorare, studiare, socializzare grazie a Jitsi Meet">
<meta property="og:image" content="https://iorestoacasa.work/assets/images/logo-icon.png">

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="https://iorestoacasa.work/">
<meta property="twitter:title" content="Io Resto A Casa .work">
<meta property="twitter:description" content="Continuiamo a lavorare, studiare, socializzare grazie a Jitsi Meet">
<meta property="twitter:image" content="https://iorestoacasa.work/assets/images/logo-icon.png">

<link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicon.png">
<title>Io Resto A Casa .work</title>
<!-- <link href="/assets/extra-libs/c3/c3.min.css" rel="stylesheet"> -->
<!-- <link href="/assets/libs/chartist/dist/chartist.min.css" rel="stylesheet"> -->
<link href="/assets/extra-libs/jvector/jquery-jvectormap-2.0.2.css" rel="stylesheet" />
<link href="/dist/css/style.minified.css" rel="stylesheet">
<!-- https://purifycss.online/ FTW! -->
<!-- <link href="/dist/css/styles.pure.css" rel="stylesheet"> -->
<link href="/dist/css/custom.css" rel="stylesheet">