<header class="topbar" data-navbarbg="skin6">
    <nav class="navbar top-navbar navbar-expand-md bg-primary">
        <div class="navbar-header" data-logobg="skin6">
            <a class="nav-toggler waves-effect waves-light d-block d-md-none" href="javascript:void(0)"><i
                    class="ti-menu ti-close"></i></a>
            <div class="navbar-brand">
                <a href="/index.html">
                    <b class="logo-icon">
                        <img src="/assets/images/logo-icon.png" alt="homepage" class="dark-logo" style="width: 50px;" />
                    </b>

                    <span class="logo-text">
                        <span style="margin-left: 6px; color: #272727; font-size: 22px;"><b>io</b>restoacasa</span>
                    </span>
                </a>
            </div>

            <a class="topbartoggler d-block d-md-none waves-effect waves-light" href="/come-si-usa.html"><i
                    class="fas fa-question-circle"></i></a>
        </div>
    </nav>
</header>