<header class="topbar" data-navbarbg="skin6">
    <nav class="navbar top-navbar navbar-expand-md" style="display: flex;align-items: flex-end;">
        <div class="navbar-header" data-logobg="skin6">
            <a class="nav-toggler waves-effect waves-light d-block d-md-none" href="javascript:void(0)"><i
                    class="ti-menu ti-close"></i></a>
            <div class="navbar-brand">
                <a href="/index.html">
                    <b class="logo-icon">
                        <img src="/assets/images/logo-icon.png" alt="homepage" class="dark-logo" style="width: 50px;" />
                    </b>

                    <span class="logo-text">
                        <span style="margin-left: 6px; color: #272727; font-size: 22px;"><b>io</b>restoacasa</span>
                    </span>
                </a>
            </div>

            <a class="topbartoggler d-block d-md-none waves-effect waves-light" href="/come-si-usa.html"><i
                    class="fas fa-question-circle"></i></a>
        </div>
        <div class="navbar-collapse collapse" id="navbarSupportedContent"
            style="border-bottom: 0px !important; margin-bottom: -4.5rem;">

            <ul class="navbar-nav float-left mr-auto ml-3 pl-1">
                <li class="nav-item d-none d-xl-block ml-4 mt-4 shadow"
                    style="background: white; padding: 10px; border-radius: 25px;">
                    <h3>
                        <span class="badge badge-pill badge-primary mt-2"
                            style="border: 3px solid transparent;"><b>#smartworking</b></span>
                    </h3>
                    <h3>
                        <span class="badge badge-pill badge-primary"
                            style="border: 3px solid transparent;"><b>#smartlearning</b></span>
                    </h3>
                </li>
                <li class="nav-item d-none d-xl-block ml-4 mt-4 shadow"
                    style="background: white; padding: 10px; border-radius: 25px;">
                    <h3>
                        <span class="badge badge-pill badge-primary mt-2"
                            style="border: 3px solid transparent;"><b>#isolatimanonsoli</b></span>
                    </h3>
                    <h3>
                        <span class="badge badge-pill badge-primary"
                            style="border: 3px solid transparent;"><b>#hopeaftercovid</b></span>
                    </h3>
                </li>
            </ul>

            <ul class="navbar-nav float-right">
                <li class="nav-item d-none d-md-block mt-4 mr-4">
                    <h1 id="getTime" class="display-3 font-weight-bold text-primary"></h1>
                    <span id="getDay"
                        class="float-right shadow-lg text-primary badge badge-pill font-16 p-3 font-weight-bold"
                        style="background-color:#ffffff; margin-top: -15px;">
                    </span>
                </li>
            </ul>
        </div>
    </nav>
</header>

<script>
    const date = new Date();

    const options_time = {
        hour: "2-digit",
        minute: "2-digit"
    };
    const options_day = {
        weekday: "long",
        month: "long",
        day: "numeric",
    };

    function getTime() {
        return date.toLocaleTimeString("it-it", options_time);
    };

    function getDay() {
        return date.toLocaleString("it-it", options_day);
    };

    document.getElementById("getTime").innerHTML = getTime();
    document.getElementById("getDay").innerHTML = getDay();
</script>