PRIVACY POLICY

(versione del 01/04/2020)


TITOLARE

Il titolare del trattamento dei tuoi dati è la ditta individuale Luca Ferroni.

Per ogni necessità puoi contattare il titolare all’indirizzo Via Don Minzoni, 158 – Fabriano (AN) o all'email webmaster@iorestoacasa.work.

Il titolare tratterà i tuoi dati con liceità e correttezza nel rispetto dei tuoi diritti ed in particolare della tua riservatezza ai sensi del Regolamento (UE) 2016/679 (di seguito “Regolamento”) e delle altre norme applicabili.

DATI

Il titolare tratterà i seguenti dati:

Dati identificativi - dati identificativi (nickname, e-mail, ecc.) utilizzati per identificarsi e partecipare a una videoconferenza utilizzando i servizi messi a disposizione dal titolare e cioè quelli accessibili agli indirizzi https://befair1.iorestoacasa.work/, https://befair2.iorestoacasa.work/, https://seeweb1.iorestoacasa.work/ e https://seeweb2.iorestoacasa.work/ (di seguito “Servizi di Videoconferenza”).

Dati delle attività - flussi audio e/o video e attività svolte utilizzando i Servizi di Videoconferenza.

Dati di navigazione - informazioni che il tuo dispositivo invia collegandosi al sistema del titolare come per esempio l'indirizzo IP dal quale ti colleghi, il sistema operativo e la lingua del tuo dispositivo, la data e l’ora della tua richiesta.

Dati di contatto e comunicazioni - dati di contatto (indirizzo email, ecc.) e contenuto della comunicazione (email o altro) che invii al titolare per comunicare con lui.

FINALITÀ E BASE GIURIDICA DEL TRATTAMENTO

I tuoi dati verranno trattati con le seguenti finalità:

fornirti i servizi (servizio di navigazione, Servizi di Videoconferenza, ecc.) ai sensi dell’articolo 6, paragrafo 1, lettera b), del Regolamento,

valutare e migliorare i servizi e svilupparne di nuovi perseguendo questo legittimo interesse ai sensi dell’articolo 6, paragrafo 1, lettera f), del Regolamento,

proteggere il funzionamento tecnico del sistema informatico perseguendo questo legittimo interesse ai sensi dell’articolo 6, paragrafo 1, lettera f), del Regolamento,

adempiere ad obblighi di legge e/o ottemperare ad ordini provenienti da pubbliche autorità, inclusa l’autorità giudiziaria ai sensi dell’articolo 6, paragrafo 1, lettera c), del Regolamento,

elaborare e diffondere analisi statistiche e rappresentazioni grafiche ma solo in forma aggregata ed anonima perseguendo questo legittimo interesse ai sensi dell’articolo 6, paragrafo 1, lettera f), del Regolamento.

I tuoi dati di contatto saranno anche trattati anche per informarti sui servizi e sulle novità disponibili, perseguendo questo legittimo interesse ai sensi dell’articolo 6, paragrafo 1, lettera f), del Regolamento.

COMUNICAZIONE A TERZI

Il titolare potrà comunicare i tuoi dati a:

soggetti terzi che collaborano con il titolare e provvedono a trattare fasi dei processi necessari al corretto espletamento delle sue attività,

soggetti terzi per adempiere ad obblighi di legge o per ottemperare ad ordini provenienti da pubbliche autorità, inclusa l’autorità giudiziaria, e/o per tutelare i diritti del titolare o dei terzi ai sensi di legge.

Quando utilizzi i Servizi di Videoconferenza, i tuoi dati identificativi e i tuoi dati delle attività saranno comunicati alle altre persone che partecipano alla videoconferenza.

PERIODO DI CONSERVAZIONE

I tuoi dati identificativi e i tuoi dati delle attività saranno conservati per il tempo necessario per consentirti di utilizzare il servizio di videoconferenza.

I tuoi dati di contatto e le comunicazioni saranno conservati per il tempo necessario per far fronte alla tua richiesta e per l‘eventuale tempo ulteriore necessario per utilizzare i dati per tutelare i diritti tuoi, del titolare e/o di terzi.

I tuoi dati di navigazione saranno conservati per massimo 6 mesi.

DIRITTI

Ai sensi del Regolamento, hai diritto:

- di chiedere l’accesso ai tuoi dati personali ai sensi dell’articolo 15 del Regolamento,

- di chiedere la rettifica dei tuoi dati personali ai sensi dell’articolo 16 del Regolamento,

- di chiedere la cancellazione dei tuoi dati personali ai sensi dell’articolo 17 del Regolamento,

- di chiedere la limitazione del trattamento dei tuoi dati personali ai sensi dell’articolo 18 del Regolamento,

- di opporti al trattamento dei tuoi dati personali che sono trattati in base all’articolo 6, paragrafo 1, lettera f), del Regolamento ai sensi dell’articolo 21 del Regolamento ,

- alla portabilità dei tuoi dati personali ai sensi dell’articolo 20 del Regolamento,

- di proporre reclamo al Garante della Privacy italiano ai sensi dell’articolo 77 del Regolamento.

EFFETTI DELLA MANCATA COMUNICAZIONE AL TITOLARE

La comunicazione dei dati identificativi, di navigazione, delle attività e/o di contatto non è obbligatoria, ma se non li fornisci non potrai navigare il sito, utilizzare i Servizi di Videoconferenza e/o contattare il titolare.

NOTA DI LICENZA

L'autore del presente documento è lo "Studio Legale Ciurcina Tita Ass. Prof." - https://studiolegale.it che rilascia il presente documento con licenza CC-BY-SA - https://creativecommons.org/licenses/by-sa/4.0/ .
