<div class="row">
    <div class="col-12">
        <button class="btn font-18" data-sharer="whatsapp" data-title="Inizia la videoconferenza!"
            v-bind:data-url="[[ url_room ]]"><i class="rounded-circle fab fa-whatsapp mr-3 text-white"
                style="padding: 10px; background-color: #43d854;"></i><b style="color: #313131;">WhatsApp</b></button>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <button class="btn font-18" data-sharer="telegram" data-title="Inizia la videoconferenza!"
            v-bind:data-url="[[ url_room ]]"><i class="rounded-circle fab fa-telegram mr-3 text-white"
                style="padding: 10px; background-color: #00405d;"></i><b style="color: #313131;">Telegram</b></button>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <button class="btn font-18" data-sharer="facebook" data-hashtag="iorestoacasawork, fabriano, isolatimanonsoli"
            v-bind:data-url="[[ url_room ]]"><i class="rounded-circle fab fa-facebook mr-3 text-white"
                style="padding: 10px; background-color: #3b5998;"></i><b style="color: #313131;">Facebook</b></button>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <button class="btn font-18" data-sharer="reddit" v-bind:data-url="[[ url_room ]]"><i
                class="rounded-circle fab fa-reddit-alien mr-3 text-white"
                style="padding: 10px; background-color: #ff4500;"></i><b style="color: #313131;">Reddit</b></button>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <button class="btn font-18" data-sharer="twitter" data-hashtag="iorestoacasawork, fabriano, isolatimanonsoli"
            data-title="Inizia la videoconferenza!" v-bind:data-url="[[ url_room ]]"><i
                class="rounded-circle fab fa-twitter mr-3 text-white"
                style="padding: 10px; background-color: #55acee;"></i><b style="color: #313131;">Twitter</b></button>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <button class="btn font-18" data-sharer="email" data-title="Inizia la videoconferenza!"
            v-bind:data-url="[[ url_room ]]" data-subject="Utilizza la piattaforma iorestoacasa.work!"><i
                class="rounded-circle fas fa-envelope mr-3 text-white bg-primary" style="padding: 10px;"></i><b
                style="color: #313131;">Mail</b></button>
    </div>
</div>