<head>
    <style>
        .logo {
            height: 24px;
        }
    </style>
</head>

<aside class="left-sidebar" data-sidebarbg="skin6">
    <div class="scroll-sidebar" data-sidebarbg="skin6">
        <nav class="sidebar-nav" id="vue-sidebar">
            <ul id="sidebarnav">
                <li class="sidebar-item" v-bind:class="[ checkHomePage() ]">
                    <a class="sidebar-link sidebar-link" href="/index.html" aria-expanded="false">
                        <i data-feather="home" class="feather-icon"></i>
                        <span class="hide-menu">Homepage</span>
                    </a>
                </li>
                <li class="sidebar-item ">
                    <a class="sidebar-link sidebar-link" href="/server.html" aria-expanded="false">
                        <i data-feather="server" class="feather-icon"></i>
                        <span class="hide-menu">Server</span>
                    </a>
                </li>
                <!-- <li class="list-divider"></li> -->
                <!-- <li class="nav-small-cap"><span class="hide-menu">Il progetto</span></li> -->
                <li class="sidebar-item">
                    <a class="sidebar-link sidebar-link" href="/come-si-usa.html" aria-expanded="false">
                        <i data-feather="help-circle" class="feather-icon"></i>
                        <span class="hide-menu">Come si usa?</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link sidebar-link" href="/voglio-contribuire.html" aria-expanded="false">
                        <i data-feather="heart" class="feather-icon"></i>
                        <span class="hide-menu">Voglio contribuire!</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link sidebar-link" href="/faq.html" aria-expanded="false">
                        <i data-feather="copy" class="feather-icon"></i>
                        <span class="hide-menu">F.A.Q</span>
                    </a>
                </li>

                <!-- <li class="list-divider"></li> -->
                <!-- <li class="nav-small-cap"><span class="hide-menu">Articoli</span></li> -->
                <li class="sidebar-item">
                    <a class="sidebar-link sidebar-link" href="/rassegna-stampa.html" aria-expanded="false">
                        <i data-feather="book-open" class="feather-icon"></i>
                        <span class="hide-menu">Rassegna stampa</span>
                    </a>
                </li>
                <!-- <li class="sidebar-item">
                    <a class="sidebar-link sidebar-link" href="/news.html" aria-expanded="false">
                        <i data-feather="tv" class="feather-icon"></i>
                        <span class="hide-menu">News</span>
                    </a>
                </li> -->

                <!-- <li class="list-divider"></li> -->
                <!-- <li class="nav-small-cap"><span class="hide-menu">Informazioni</span></li> -->
                <li class="sidebar-item">
                    <a class="sidebar-link sidebar-link" href="/contatti.html" aria-expanded="false">
                        <i data-feather="send" class="feather-icon"></i>
                        <span class="hide-menu">Contatti</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link sidebar-link" href="/crediti.html" aria-expanded="false">
                        <i data-feather="award" class="feather-icon"></i>
                        <span class="hide-menu">Crediti</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link sidebar-link" href="/privacy.html" aria-expanded="false">
                        <i data-feather="eye-off" class="feather-icon"></i>
                        <span class="hide-menu">Privacy</span>
                    </a>
                </li>

                <!-- <li class="list-divider"></li> -->
                <!-- <li class="nav-small-cap"><span class="hide-menu">Software Libero</span></li> -->

                <!-- <li class="sidebar-item">
                    <a class="sidebar-link sidebar-link" href="https://github.com/havfo/multiparty-meeting"
                        aria-expanded="false">
                        <img class="jitsi-logo img-responsive mx-1" title="Multiparty Meeting"
                            src="/assets/images/big/mm.png" style="filter: grayscale(100%); filter:
                            brightness(0%); height: 24px;">
                        <span class="hide-menu">Multiparty Meeting</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link sidebar-link" href="https://jitsi.org/jitsi-meet/" aria-expanded="false">
                        <img class="jitsi-logo img-responsive mx-1" title="Jitsi Meet"
                            src="/assets/images/big/jitsi.png" style="filter: grayscale(100%); filter:
                            brightness(0%); height: 24px;">
                        <span class="hide-menu">Jitsi Meet</span>
                    </a>
                </li> -->
            </ul>
        </nav>
    </div>
</aside>

<script src="./dist/js/vue.min.js"></script>
<!-- <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> -->
<script>
    var app = new Vue({
        el: '#vue-sidebar',
        delimiters: ['[[', ']]'],
        methods: {
            checkHomePage: function () {
                if (window.location.pathname === "/") {
                    return "selected"
                }
            }
        },
    })
</script> 