<head>
    <link rel="stylesheet" href="./dist/css/swiper.min.css">
    <link href="./dist/css/slider-homepage.css" rel="stylesheet">
</head>

<div class="blog-slider shadow-lg">
    <div class="blog-slider__wrp swiper-wrapper">
        <div class="blog-slider__item swiper-slide slider-element">
            <div class="shadow blog-slider__img rounded-circle">
                <img style="padding: 0px !important;" src="./assets/images/big/selfie.svg">
            </div>
            <div class="blog-slider__content">
                <span class="blog-slider__code">Perfetto se sei al PC!</span>
                <div class="blog-slider__title">Jitsi</div>
                <div class="blog-slider__text">Stabile, concreto e solido. Richiede una buona connessione e l'app
                    ufficiale disponibile nei vari store</div>
                <div class="input-group">
                    <input id="auto-room" autofocus="autofocus" class="form-control" id="room-name"
                        placeholder="Inserisci un nome per la stanza">
                    <div class="input-group-append">
                        <button v-on:click="goNextSlide()" class="btn btn-primary" type="button">
                            <b>CREA</b>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="blog-slider__item swiper-slide slider-element">
            <div class="shadow blog-slider__img rounded-circle">
                <img style="padding: 0px !important;" src="./assets/images/big/sw.svg">
            </div>
            <div class="blog-slider__content">
                <span class="blog-slider__code">Ottimo se stai utilizzando il cellulare!</span>
                <div class="blog-slider__title">Multiparty Meeting</div>
                <div class="blog-slider__text">Leggero, veloce e sperimentale. Non richiede alcuna applicazione
                    installata!</div>
                <div class="input-group">
                    <input id="auto-room" autofocus="autofocus" class="form-control" id="room-name"
                        placeholder="Inserisci un nome per la stanza">
                    <div class="input-group-append">
                        <button data-toggle="modal" data-target="#exampleModalLong" class="btn btn-primary"
                            type="button">
                            <b>CREA</b>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="blog-slider__item swiper-slide slider-element">
            <div class="shadow blog-slider__img rounded-circle">
                <img style="padding: 0px !important;" src="./assets/images/big/love.svg">
            </div>
            <div class="blog-slider__content">
                <span class="blog-slider__code">Ottimo se stai utilizzando il cellulare!</span>
                <div class="blog-slider__title">Multiparty Meeting</div>
                <div class="blog-slider__text">Leggero, veloce e sperimentale. Non richiede alcuna applicazione
                    installata!</div>
                <div class="input-group">
                    <input id="auto-room" autofocus="autofocus" class="form-control" id="room-name"
                        placeholder="Inserisci un nome per la stanza">
                    <div class="input-group-append">
                        <button data-toggle="modal" data-target="#exampleModalLong" class="btn btn-primary"
                            type="button">
                            <b>CREA</b>
                        </button>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="blog-slider__pagination"></div>
</div>