<head>
    <link rel="stylesheet" href="./dist/css/swiper.min.css">
    <link href="./dist/css/slider-homepage.css" rel="stylesheet">
    <style>
        @media (min-width: 575.98px) {
            .bottom-button {
                position: absolute;
                bottom: 16px;
            }
        }
    </style>
</head>

<div class="blog-slider shadow-lg">
    <div class="blog-slider__wrp swiper-wrapper">
        <div class="blog-slider__item swiper-slide slider-element">
            <div class="d-none d-md-block shadow blog-slider__img rounded-circle">
                <img style="padding: 0px !important;" src="./assets/images/big/selfie.svg">
            </div>
            <div class="blog-slider__content">
                <span class="blog-slider__code">Dai un nome alla tua stanza</span>
                <div class="blog-slider__title">#iorestoacasa</div>
                <div class="blog-slider__text font-18">Videochiamate di gruppo <b>libere</b>, <b>anonime</b> e
                    <b>gratuite</b>,
                    messe a disposizione da <b>volontari</b> in questo periodo di emergenza!</div>
                <div class="blog-slider__text font-18">Inzia la tua videochiamata adesso inserendo il nome della stanza
                    e
                    poi cliccando il tasto di conferma!</div>
                <div class="input-group">
                    <input v-model="room" v-on:keydown.enter="goNextSlide()" id="auto-room" autofocus="autofocus"
                        class="form-control" id="room-name" placeholder="Inserisci un nome per la stanza">
                    <div class="input-group-append">
                        <button v-on:click="goNextSlide()" class="btn btn-primary" type="button">
                            <b>CREA</b>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="blog-slider__item swiper-slide slider-element">
            <div class="d-none d-md-block shadow blog-slider__img rounded-circle">
                <img style="padding: 0px !important;" src="./assets/images/big/sw.svg">
            </div>
            <div class="blog-slider__content">
                <span class="blog-slider__code">Scegli la piattaforma!</span>
                <div v-if="!isMobile()">
                    <div class="row">
                        <div class="col-md-12">
                            <div class=card-deck>
                                <div class="margin-left-desktop card shadow-sm" style="border-radius: 25px;">
                                    <div class="card-body card-body d-flex flex-column">
                                        <h3 class="card-title">Jitsi<span
                                                class="ml-2 badge badge-pill badge-warning font-12"><i
                                                    class="fas fa-star mr-2"></i><b>CONSIGLIATO</b></span>
                                        </h3>
                                        <p class="card-text">Stabile, concreto e solido. Richiede una buona connessione
                                            e l'app
                                            ufficiale disponibile nei vari store</p>
                                        <button @click="savePrefSw('MM')" class="btn btn-success btn-rounded mt-auto"><i
                                                class="fas fa-desktop mr-2"></i><b>UTILIZZA</b></button>
                                    </div>
                                </div>
                                <div class="card shadow-none" style="border-radius: 25px;">
                                    <div class="card-body card-body d-flex flex-column">
                                        <h3 class="card-title">Multiparty Meeting</h3>
                                        <p class="card-text">Leggero, veloce e sperimentale. Non richiede alcuna
                                            applicazione
                                            installata!</p>
                                        <button @click="savePrefSw('JITSI')" class="mt-auto btn btn-rounded waves-effect waves-light btn-outline-primary
                                     float-right"><i class="fas fa-mobile-alt mr-2"></i><b>UTILIZZA</b></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div v-else>
                    <div class="row">
                        <div class="col-md-12">
                            <div class=card-deck>
                                <div class="margin-left-desktop card shadow-sm" style="border-radius: 25px;">
                                    <div class="card-body card-body d-flex flex-column">
                                        <h3 class="card-title">Multiparty Meeting<span
                                                class="ml-2 badge badge-pill badge-light"><i
                                                    class="fas fa-star mr-2"></i><b>CONSIGLIATO</b></span>
                                        </h3>
                                        <p class="card-text">Leggero, veloce e sperimentale. Non richiede alcuna
                                            applicazione
                                            installata!</p>
                                        <button @click="savePrefSw('MM')"
                                            class="mt-auto btn btn-success btn-rounded"><b>UTILIZZA</b></button>
                                    </div>
                                </div>
                                <div class="card shadow-none" style="border-radius: 25px;">
                                    <div class="card-body card-body d-flex flex-column">
                                        <h3 class="card-title">Jitsi</h3>
                                        <p class="card-text">Stabile, concreto e solido. Richiede una buona connessione
                                            e
                                            l'app
                                            ufficiale disponibile nei vari store</p>
                                        <button @click="savePrefSw('JITSI')"
                                            class="mt-auto btn btn-rounded waves-effect waves-light btn-outline-primary">UTILIZZA</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="blog-slider__item swiper-slide slider-element">
            <div class="d-none d-md-block shadow blog-slider__img rounded-circle">
                <img style="padding: 0px !important;" src="./assets/images/big/love.svg">
            </div>
            <div class="blog-slider__content">
                <span class="blog-slider__code">Connettiti e condividi!</span>
                <div class="row">
                    <div class="col-md-12">
                        <div class="card-deck">
                            <div class="margin-left-desktop card shadow-none" style="border-radius: 25px;">
                                <div class="card-body d-flex flex-column">
                                    <h3 class="card-title">Go!</h3>
                                    <p class="card-text">Collegati subito alla stanza creata! Potrai comunque
                                        condividere il link</p>
                                    <br>
                                    <button v-on:click="goToRoom(prefSw)" class="mt-auto btn btn-success btn-rounded
                                        float-right"><b>CONNETTITI</b><i class="ml-2 fas fa-play"></i></button>
                                </div>
                            </div>
                            <div class="margin-left-desktop card shadow-none" style="border-radius: 25px;">
                                <div class="card-body d-flex flex-column">
                                    <h3 class="card-title">Sharing is <i class="fas fa-hand-holding-heart"></i></h3>
                                    <p class="card-text">Condividi rapidamente il link con chi
                                        vuoi e poi collegati alla chiamata</p>
                                    <br>
                                    <button v-on:click="goNextSlide()" class="mt-auto btn btn-primary btn-rounded
                                        float-right"><b>CONDIVIDI</b><i class="fas fa-share ml-2"></i></button>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="d-none d-md-block blog-slider__pagination"></div>
    </div>