<div class="card">
    <div class="card-body">
        <div class="table-responsive">
            <table class="table-striped table table-sm table-hover no-wrap v-middle mb-0">
                <thead>
                    <tr class="border-0">
                        <th class="border-0 font-14 font-weight-medium text-muted">Nome server
                        </th>
                        <th class="border-0 font-14 font-weight-medium text-muted text-center">
                            Utenti connessi
                        </th>
                        <th class="border-0 font-14 font-weight-medium text-muted text-center">
                            Carico
                        </th>
                        <th class="border-0 font-14 font-weight-medium text-muted text-center">
                            Banda<br>disponibile
                        </th>
                        <th class="border-0 font-14 font-weight-medium text-muted text-center">
                            CPU<br>core
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="host in hosts">
                        <td class="border-top-0 py-2">
                            <div class="d-flex no-block align-items-center">
                                <div class="mr-2">
                                    <a :href="host.url">
                                        <template v-if="host.software === 'MM'">
                                            <img class="jitsi-logo img-responsive" title="Multiparty-Meeting"
                                                src="./assets/images/big/mm.png">
                                        </template>
                                        <template v-else>
                                            <img class="jitsi-logo img-responsive" title="Jitsi Meet"
                                                src="./assets/images/big/jitsi.png">
                                        </template>
                                    </a>
                                </div>
                                <div>
                                    <a :href="host.url">
                                        <h4 class="text-dark mb-0 font-weight-medium">
                                            [[ host.name ]]
                                        </h4>
                                    </a>
                                    <span class="font-16">da
                                    </span>
                                    <span v-html="unicorniMagici(host)">
                                    </span>
                                </div>
                            </div>
                        </td>
                        <td class="border-top-0 text-center py-2 font-18">
                            <template v-if="host.software === 'MM'">
                                <template v-if="'user_count' in host">
                                    <b>[[ host.user_count ]]</b>
                                </template>
                                <template v-else>
                                    <span data-toggle="tooltip" title="ci stiamo lavorando">❓</span>
                                </template>
                            </template>
                            <template v-else>
                                <b>[[ host.user_count ]]</b>
                            </template>
                        </td>
                        <td class="border-top-0 text-center py-2">
                            <div v-if="host.cpu_usage != undefined || host.cpu_usage != null" class="progress"
                                v-html="cpuUsage(host.cpu_usage)">
                            </div>
                            <div v-else>
                                <span data-toggle="tooltip" title="ci stiamo lavorando">🔜</span>
                            </div>
                        </td>
                        <td class="border-top-0 text-center py-2">
                            <div v-html="availableBandwidthHuman(host)"></div>
                        </td>
                        <td class="border-top-0 text-center py-2">
                            <span class="font-16 badge badge-pill badge-secondary">
                                <i v-if="host.core_count >= 8" class="fas fa-bolt"
                                    style="color: rgb(252, 224, 68);"></i>
                                <b>
                                    [[ host.core_count == '?' ? "❓" :
                                    host.core_count]]
                                </b>
                            </span>
                        </td>
                        <td class="border-top-0 text-center py-2">
                            <a :href="host.url">
                                <template v-if="host.software === 'MM'">
                                    <div class="btn btn-warning btn-rounded font-12 text-white">
                                        <b>BETA</b><i class="ml-1 fa fa-play text-white
                                                                    font-14" data-toggle="tooltip" title="Online"></i>
                                    </div>
                                </template>
                                <template v-else>
                                    <button type="button" class="btn btn-rounded btn-primary" style="padding: 12px;">
                                        <i class="fa fa-play text-white font-14" data-toggle="tooltip"
                                            title="Online"></i>
                                    </button>
                                </template>
                            </a>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td>
                            <div style="margin-top: 12px;">
                                <a href="voglio-contribuire.html">
                                    Aggiungi il tuo server a questa lista!
                                </a>
                            </div>
                        </td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>

<script src="./assets/libs/jquery/dist/jquery.min.js"></script>
<script src="./assets/libs/popper.js/dist/umd/popper.min.js"></script>
<script src="./assets/libs/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="./dist/js/app-style-switcher.js"></script>
<script src="./dist/js/feather.min.js"></script>
<script src="./assets/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js"></script>
<script src="./dist/js/sidebarmenu.js"></script>
<script src="./dist/js/custom.min.js"></script>
<script src="dist/js/vue.min.js"></script>
<!-- <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> -->
<script>
    var app = new Vue({
        el: '#vue-table',
        delimiters: ['[[', ']]'],
        data: {
            room: "",
            hosts: [],
        },
        mounted: function () {
            fetch('https://iorestoacasa.work/hosts.json')
                .then(r => r.json())
                .then(json => {
                    this.hosts = json.instances;

                    // Order instances by type
                    this.hosts.sort(function (a, b) {
                        return a.software === 'MM' ? -1 : 1;
                    });

                    // Count MM instances
                    var counter = 0;
                    for (var i = 0; i < this.hosts.length; ++i) {
                        if (this.hosts[i]['software'] == "MM")
                            counter++;
                        else
                            break;
                    }

                    // Extract MM instances
                    let mm = this.hosts.splice(0, counter);

                    // Order MM by usage
                    mm.sort(function (a, b) {
                        return a.cpu_usage - b.cpu_usage;
                    });

                    // Order Jitsi by usage
                    this.hosts.sort(function (a, b) {
                        return a.cpu_usage - b.cpu_usage;
                    });

                    // Merge results
                    this.hosts = mm.concat(this.hosts);
                })
        },
        methods: {
            connectedUsers: function () {
                // Somma degli utenti presenti all'interno del JSON
                var sum = 0;
                for (var i in this.hosts) {
                    if (this.hosts[i].user_count !== "?" && this.hosts[i].user_count !==
                        undefined &&
                        this.hosts[i].user_count != null) {
                        // console.log(this.hosts[i].user_count);
                        sum += parseInt(this.hosts[i].user_count);
                    }
                }
                return sum;
            },
            average: function () {
                if (this.connectedUsers() === 0) {
                    return "Just you 🤗"
                }
                return Math.round((this.connectedUsers() / this.hosts.lenght) * 100) / 100;
            },
            goToPage: function (url) {
                window.open(url);
            },
            unicorniMagici: function (host) {
                if (host.by === "\ud83e\udd84") {
                    return `<a href="https://unicorni.team/"><b>\ud83e\udd84</b></a> e <a
                href="https://www.shellrent.com/"><b>Shellrent</b></a>`;
                } else {
                    return `<a href=` + host.by_url + `><b>` + host.by + `</b></a>`;
                }
            },
            cpuUsage: function (value) {
                var color;
                if (Math.round(value * 100) <= 60) {
                    color = "bg-success"
                } else if (Math.round(value * 100) > 60 &&
                    Math.round(value * 100) <= 80) {
                    color = "bg-warning"
                } else {
                    color = "bg-danger"
                }
                return `<div
                    class="progress-bar ` + color + ` progress-bar-striped progress-bar-animated" role="progressbar"
                    style="width: ` + Math.round(value * 100) + `%" aria-valuenow="` + Math.round(value * 100) + `"
                    aria-valuemin="0" aria-valuemax="100">
                    </div>`
            },
            availableBandwidthHuman: function (host) {
                if (!'available_bandwidth_mbps' in host || host.available_bandwidth_mbps === null ||
                    host.available_bandwidth_mbps === undefined || isNaN(parseInt(host
                        .available_bandwidth_mbps)) || host.available_bandwidth_mbps === '?') {
                    return `<span data-toggle="tooltip" title="Ci stiamo lavorando">❓</span>`;
                } else {
                    let mbps = parseInt(host.available_bandwidth_mbps);
                    if(mbps > 9999) {
                        var speed = String(mbps / 1000) + ' Gbps';
                        var color = '#47d008';
                    } else if (mbps > 999) {
                        var speed = String(mbps / 1000) + ' Gbps';
                        var color = '#7cd553';
                    } else {
                        var speed = String(mbps) + ' Mbps';
                        var color = '#939b8f';
                    }
                    return '<span style="background-color: '+ color +';" class="font-14 badge badge-pill badge-success"><b>' + speed +'</b></span>';
                }
            },
            goToRoom: function (e) {
                if (this.room === "") {
                    this.room = Math.random().toString(36).substring(2, 15) +
                        Math.random().toString(36).substring(2, 15);
                }
                this.room = this.room.replace(/([^a-z0-9]+)/gi, '-');

                let base_url = this.hosts.find(u => u.software === e).url;
                if (base_url.slice(-1) !== '/')
                    base_url += '/';
                window.open(base_url + this.room);
            },
        },
    })
</script>