---
layout: page
---
<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>
    <style>
        @media (min-width: 575.98px) {
            .bottom-button {
                position: absolute;
                bottom: 16px;
            }
        }
    </style>
</head>

<body>
    <div class="preloader">
        <div class="lds-ripple">
            <div class="lds-pos"></div>
            <div class="lds-pos"></div>
        </div>
    </div>
    <div id="main-wrapper" data-theme="light" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
        data-sidebar-position="fixed" data-header-position="fixed" data-boxed-layout="full">
        <header class="topbar" data-navbarbg="skin6">
            <nav class="navbar top-navbar navbar-expand-md">
                <div class="navbar-header" data-logobg="skin6">
                    <a class="nav-toggler waves-effect waves-light d-block d-md-none" href="javascript:void(0)"><i
                            class="ti-menu ti-close"></i></a>
                    <div class="navbar-brand">
                        <a href="index.html">
                            <b class="logo-icon">
                                <img src="./assets/images/logo-icon.png" alt="homepage" class="dark-logo"
                                    style="width: 50px;" />
                            </b>

                            <span class="logo-text">
                                <span
                                    style="margin-left: 6px; color: #272727; font-size: 22px;"><b>io</b>restoacasa</span>
                            </span>
                        </a>
                    </div>

                    <a class="topbartoggler d-block d-md-none waves-effect waves-light" href="come-si-usa.html"><i
                            class="fas fa-question-circle"></i></a>
                </div>

                <div class="navbar-collapse collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav float-left mr-auto ml-3 pl-1">
                        <li class="nav-item d-none d-md-block">
                            <a class="nav-link" href="crediti.html">
                                <i data-feather="info" class="svg-icon"></i>
                            </a>
                        </li>
                    </ul>
                    <ul class="navbar-nav float-right">
                        <li class="nav-item d-none d-md-block">
                            <a class="nav-link dropdown-toggle" href="come-si-usa.html">
                                <i class="fas fa-question-circle"></i>
                                <span class="ml-2 d-none d-lg-inline-block"><span>Hey,</span> <span
                                        class="text-dark">serve aiuto?</span></span>
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        {%include sidebar.html%}

        <div class="page-wrapper">


            <div class="page-breadcrumb">
                <div class="row">
                    <div class="col-12 align-self-center">
                        <h1 class="page-title text-dark font-weight-medium mb-1">Contatti</h1>
                        <div class="d-flex align-items-center">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb m-0 p-0">
                                    <li class="breadcrumb-item">Saremo lieti di sentire quello che hai da dirci!
                                    </li>
                                </ol>
                            </nav>
                        </div>
                    </div>

                </div>
            </div>

            <div class="container-fluid" style="padding-top: 15px;">

                <div class="row">
                    <div class="col-12">
                        <div class="card-deck">
                            <div class="card">
                                <img class="card-img-top img-fluid" src="./assets/images/big/te.svg"
                                    alt="Card image cap" style="
                                    width: 50%;                                    
                                    margin-left: auto;
                                    padding: 12px;
                                    margin-right: auto;
                                    display: block;
                                    ">
                                <div class="card-body">
                                    <h2 class="card-title">Telegram</h2>
                                    <p class="card-text">Entra nel gruppo Telegram di supporto per ricevere assistenza,
                                        aggiungere un tuo server o farci domande.</p>
                                    <br>
                                    <br>
                                    <a href="https://t.me/iorestoacasawork" class="bottom-button btn btn-primary"><i
                                            class="fab fa-telegram-plane"></i><b> SCIRIVICI SU TELEGRAM</b></a>
                                </div>
                            </div>
                            <div class="card">
                                <img class="card-img-top img-fluid" src="./assets/images/big/ma.svg"
                                    alt="Card image cap" style="
                                    width: 55%;                                    
                                    margin-left: auto;
                                    padding: 12px;
                                    margin-right: auto;
                                    display: block;
                                    ">
                                <div class="card-body">
                                    <h2 class="card-title">Mail</h2>
                                    <p class="card-text">
                                        Preferiamo Telegram, ma se sei nostalgico delle lettere, scrivici una e-mail.
                                    </p>
                                    <br>
                                    <br>
                                    <a href="mailto:info@iorestoacasa.work" class="bottom-button btn btn-primary"><i
                                            class="far fa-envelope"></i><b> SCRIVICI UNA E-MAIL</b></a>

                                </div>
                            </div>
                            <div class="card">
                                <img class="card-img-top img-fluid" src="./assets/images/big/news.svg"
                                    alt="Card image cap" style="
                                    width: 70%;                                    
                                    margin-left: auto;
                                    padding: 12px;
                                    margin-right: auto;
                                    display: block;
                                    ">
                                <div class="card-body">
                                    <h2 class="card-title">News</h2>
                                    <p class="card-text">
                                        Il canale Telegram nel quale comunichiamo le news che riteniamo più importanti!
                                    </p>
                                    <br>
                                    <br>
                                    <a href="https://t.me/iorestoacasaworknews" class="bottom-button btn btn-primary"><i
                                            class="fas fa-newspaper"></i><b> ENTRA NEL CANALE</b></a>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
            {%include footer.html%}

        </div>

        <script src="./assets/libs/jquery/dist/jquery.min.js"></script>
        <script src="./assets/libs/popper.js/dist/umd/popper.min.js"></script>
        <script src="./assets/libs/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="./dist/js/app-style-switcher.js"></script>
        <script src="./dist/js/feather.min.js"></script>
        <script src="./assets/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js"></script>
        <script src="./dist/js/sidebarmenu.js"></script>
        <script src="./dist/js/custom.min.js"></script>
</body>

</html>