---
layout: page
---
<!DOCTYPE html>
<html dir="ltr" lang="en">

<body>
    <div class="preloader">
        <div class="lds-ripple">
            <div class="lds-pos"></div>
            <div class="lds-pos"></div>
        </div>
    </div>
    <div id="main-wrapper" data-theme="light" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
        data-sidebar-position="fixed" data-header-position="fixed" data-boxed-layout="full">

        {% include header.html %}

        {%include sidebar.html%}

        <div class="page-wrapper">
            <div class="page-breadcrumb">
                <div class="row">
                    <div class="col-12 align-self-center">
                        <h1 class="page-title text-dark font-weight-medium mb-1">Crediti</h1>
                        <div class="d-flex align-items-center">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb m-0 p-0">
                                    <li class="breadcrumb-item">
                                        <i>«Ma il vero modo di essere felici è quello di procurare la felicità agli
                                            altri.<br>
                                            Preoccupatevi di lasciare questo mondo un po' migliore di come lo avete
                                            trovato e, <br>
                                            quando suonerà la vostra ora di morire, potrete morire felici nella
                                            coscienza<br>
                                            di non aver sprecato il vostro tempo, ma di avere fatto "del vostro
                                            meglio".»<br>
                                            <div style="margin-top: 6px;">
                                                <b>Lord Baden Powell</b>
                                            </div>
                                        </i>
                                    </li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid" style="padding-top: 15px;" id="vue-credits">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header bg-info">
                                <h2 class="mb-0 text-white"><b>Nato dall'idea di</b></h2>
                            </div>
                            <div class="card-body">
                                <h3 class="card-subtitle mt-2 mb-2 text-muted"><a
                                        href="https://www.linkedin.com/in/dawid-w%C4%99glarz-199574100/"
                                        target="_blank">Dawid Węglarz</a>
                                </h3>
                                <h3 class="card-subtitle mt-2 mb-2 text-muted"><a
                                        href="https://www.linkedin.com/in/azzeccagarbugli/" target="_blank">Francesco
                                        Coppola</a>
                                </h3>
                                <h3 class="card-subtitle mt-2 mb-2 text-muted"><a
                                        href="https://www.linkedin.com/in/lucaferroni/" target="_blank">Luca `fero[da]`
                                        Ferroni</a></h3>
                                <h3 class="card-subtitle mt-2 mb-2 text-muted"><a
                                        href="https://www.linkedin.com/in/r-serafini/" target="_blank">Riccardo
                                        Serafini</a></h3>
                                <h3 class="card-subtitle mt-2 mb-2 text-muted"><a href="https://befair.it"
                                        target="_blank">beFair</a></h3>
                                <h3 class="card-subtitle mt-2 mb-2 text-muted"><a href="https://pdp.linux.it"
                                        target="_blank">PDP Free Software User Group</a></h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 align-self-center mb-2">
                                <div class="alert alert-secondary font-18" role="alert">
                                    <strong>Server messi a disposizione</strong>
                                </div>

                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header bg-info">
                                <h2 class="mb-0 text-white"><b>Istituzioni</b></h2>
                            </div>
                            <div class="card-body">
                                <template v-for="item in credits.INSTITUTION">
                                    <h3 class="card-subtitle mt-2 mb-2 text-muted"><a :href="item[1]" target="_blank">[[
                                            item[0] ]]</a></h3>
                                </template>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header bg-info">
                                <h2 class="mb-0 text-white"><b>Persone</b></h2>
                            </div>
                            <div class="card-body">
                                <template v-for="item in credits.PERSON">
                                    <h3 class="card-subtitle mt-2 mb-2 text-muted"><a :href="item[1]" target="_blank">[[
                                            item[0] ]]</a></h3>
                                </template>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header bg-info">
                                <h2 class="mb-0 text-white"><b>Associazioni</b></h2>
                            </div>
                            <div class="card-body">

                                <template v-for="item in credits.ASSOCIATION">
                                    <h3 class="card-subtitle mt-2 mb-2 text-muted"><a :href="item[1]" target="_blank">[[
                                            item[0] ]]</a></h3>
                                </template>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header bg-info">
                                <h2 class="mb-0 text-white"><b>Aziende</b></h2>
                            </div>
                            <div class="card-body">
                                <template v-for="item in credits.COMPANY">
                                    <h3 class="card-subtitle mt-2 mb-2 text-muted"><a :href="item[1]" target="_blank">[[
                                            item[0] ]]</a></h3>
                                </template>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {%include footer.html%}
    </div>
    <script src="./assets/libs/jquery/dist/jquery.min.js"></script>
    <script src="./assets/libs/popper.js/dist/umd/popper.min.js"></script>
    <script src="./assets/libs/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="./dist/js/app-style-switcher.js"></script>
    <script src="./dist/js/feather.min.js"></script>
    <script src="./assets/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js"></script>
    <script src="./dist/js/sidebarmenu.js"></script>
    <script src="./dist/js/custom.min.js"></script>

    <!-- <script src="dist/js/vue.min.js"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
        var app = new Vue({
            el: '#vue-credits',
            delimiters: ['[[', ']]'],
            data: {
                credits: {
                    'INSTITUTION': [],
                    'PERSON': [],
                    'COMPANY': [],
                    'ASSOCIATION': [],
                },
            },
            mounted: function () {
                fetch('https://iorestoacasa.work/hosts.json')
                    .then(r => r.json())
                    .then(json => {
                        this.credits = json.credits;
                        this.sortCredits();
                    });
            },
            methods: {
                sortCredits: function () {
                    this.credits['INSTITUTION'].sort((a, b) => a[0][0].localeCompare(b[0][0]));
                    this.credits['PERSON'].sort((a, b) => a[0][0].localeCompare(b[0][0]));
                    this.credits['COMPANY'].sort((a, b) => a[0][0].localeCompare(b[0][0]));
                    this.credits['ASSOCIATION'].sort((a, b) => a[0][0].localeCompare(b[0][0]));
                }
            },
        })
    </script>
</body>

</html>