<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Primary Meta Tags -->
    <title>Io Resto A Casa .work</title>
    <meta name="title" content="Io Resto A Casa .work">
    <meta name="description" content="Continuiamo a lavorare, studiare, socializzare grazie a Jitsi Meet">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://iorestoacasa.work/">
    <meta property="og:title" content="Io Resto A Casa .work">
    <meta property="og:description" content="Continuiamo a lavorare, studiare, socializzare grazie a Jitsi Meet">
    <meta property="og:image" content="https://iorestoacasa.work/assets/images/logo-icon.png">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://iorestoacasa.work/">
    <meta property="twitter:title" content="Io Resto A Casa .work">
    <meta property="twitter:description" content="Continuiamo a lavorare, studiare, socializzare grazie a Jitsi Meet">
    <meta property="twitter:image" content="https://iorestoacasa.work/assets/images/logo-icon.png">

    <link rel="icon" type="image/png" sizes="16x16" href="./assets/images/favicon.png">
    <title>Io Resto A Casa .work</title>
    <link href="./assets/extra-libs/c3/c3.min.css" rel="stylesheet">
    <link href="./assets/libs/chartist/dist/chartist.min.css" rel="stylesheet">
    <link href="./assets/extra-libs/jvector/jquery-jvectormap-2.0.2.css" rel="stylesheet" />
    <link href="./dist/css/style.min.css" rel="stylesheet">
    <link href="./dist/css/background.css" rel="stylesheet">
    <link href="./dist/css/pulsar.css" rel="stylesheet">
    <style>
        .footer {
            position: fixed;
            bottom: 0;
            width: 100%;
            bottom: 0;
            left: 0;
            right: 0;
            justify-content: center;
            align-items: center;
            height: 40px;
            line-height: 30px;
            padding: 4px;
            background-color: #f9fbfd;
        }

        #total-info .card-body {
            padding: 10px 20px;
        }

        #total-info {
            margin-bottom: 12px;
        }

        #breadcrumb {
            padding-top: 15px;
        }

        .jitsi-logo {
            height: 34px;
        }
    </style>
</head>

<body>
    <div class="preloader">
        <div class="lds-ripple">
            <div class="lds-pos"></div>
            <div class="lds-pos"></div>
        </div>
    </div>
    <div id="main-wrapper" data-theme="light" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
        data-sidebar-position="fixed" data-header-position="fixed" data-boxed-layout="full">
        <header class="topbar" data-navbarbg="skin6">
            <nav class="navbar top-navbar navbar-expand-md">
                <div class="navbar-header" data-logobg="skin6">
                    <a class="nav-toggler waves-effect waves-light d-block d-md-none" href="javascript:void(0)"><i
                            class="ti-menu ti-close"></i></a>
                    <div class="navbar-brand">
                        <a href="index.html">
                            <b class="logo-icon">
                                <img src="./assets/images/logo-icon.png" alt="homepage" class="dark-logo"
                                    style="width: 50px;" />
                            </b>

                            <span class="logo-text">
                                <span
                                    style="margin-left: 6px; color: #272727; font-size: 22px;"><b>io</b>restoacasa</span>
                            </span>
                        </a>
                    </div>

                    <a class="topbartoggler d-block d-md-none waves-effect waves-light" href="come-si-usa.html"><i
                            class="fas fa-question-circle"></i></a>
                </div>

                <div class="navbar-collapse collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav float-left mr-auto ml-3 pl-1">
                        <li class="nav-item d-none d-md-block">
                            <a class="nav-link" href="crediti.html">
                                <i data-feather="info" class="svg-icon"></i>
                            </a>
                        </li>
                    </ul>
                    <ul class="navbar-nav float-right">
                        <li class="nav-item d-none d-md-block">
                            <a class="nav-link dropdown-toggle" href="come-si-usa.html">
                                <i class="fas fa-question-circle"></i>
                                <span class="ml-2 d-none d-lg-inline-block"><span>Hey,</span> <span
                                        class="text-dark">serve aiuto?</span></span>
                            </a>
                        </li>

                    </ul>
                </div>
            </nav>
        </header>
        <aside class="left-sidebar" data-sidebarbg="skin6">
            <div class="scroll-sidebar" data-sidebarbg="skin6">
                <nav class="sidebar-nav">
                    <ul id="sidebarnav">
                        <li class="sidebar-item selected">
                            <a class="sidebar-link sidebar-link active" href="index.html" aria-expanded="false">
                                <i data-feather="home" class="feather-icon"></i>
                                <span class="hide-menu">Homepage</span>
                            </a>
                        </li>
                        <li class="list-divider"></li>
                        <li class="nav-small-cap"><span class="hide-menu">Utilità</span></li>
                        <li class="sidebar-item">
                            <a class="sidebar-link sidebar-link" href="come-si-usa.html" aria-expanded="false">
                                <i data-feather="help-circle" class="feather-icon"></i>
                                <span class="hide-menu">Come si usa?</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link sidebar-link" href="voglio-contribuire.html" aria-expanded="false">
                                <i data-feather="heart" class="feather-icon"></i>
                                <span class="hide-menu">Voglio contribuire!</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link sidebar-link" href="faq.html" aria-expanded="false">
                                <i data-feather="copy" class="feather-icon"></i>
                                <span class="hide-menu">F.A.Q</span>
                            </a>
                        </li>

                        <li class="list-divider"></li>
                        <li class="nav-small-cap"><span class="hide-menu">Informazioni</span></li>
                        <li class="sidebar-item">
                            <a class="sidebar-link sidebar-link" href="contatti.html" aria-expanded="false">
                                <i data-feather="send" class="feather-icon"></i>
                                <span class="hide-menu">Contatti</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link sidebar-link" href="crediti.html" aria-expanded="false">
                                <i data-feather="award" class="feather-icon"></i>
                                <span class="hide-menu">Crediti</span>
                            </a>
                        </li>

                        <li class="list-divider"></li>
                        <li class="nav-small-cap"><span class="hide-menu">Software Libero</span></li>

                        <li class="sidebar-item">
                            <a class="sidebar-link sidebar-link" href="https://github.com/havfo/multiparty-meeting"
                                aria-expanded="false">
                                <img class="jitsi-logo img-responsive mx-1" title="Jitsi Meet"
                                    src="./assets/images/big/mm.png" style="filter: grayscale(100%); height: 24px;">
                                <span class="hide-menu">Multiparty-Meeting</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link sidebar-link" href="https://jitsi.org/jitsi-meet/"
                                aria-expanded="false">
                                <img class="jitsi-logo img-responsive mx-1" title="Jitsi Meet"
                                    src="./assets/images/big/jitsi.png" style="filter: grayscale(100%); height: 24px;">
                                <span class="hide-menu">Jitsi Meet</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </aside>

        <div class="page-wrapper" id="vue-table">


            <div class="page-breadcrumb" id="breadcrumb">
                <div class="row">
                    <div class="col-12 align-self-center">
                        <h1 class="page-title text-dark font-weight-medium mb-1">Restiamo a casa, ma continuiamo a
                            vederci!</h1>
                        <div class="d-flex align-items-center">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb m-0 p-0">
                                    <li class="breadcrumb-item">
                                        Grazie ai software di videochiamate open source <a
                                            href="https://jitsi.org/jitsi-meet/" target="_blank">Jitsi Meet</a> e <a
                                            href="https://github.com/havfo/multiparty-meeting"
                                            target="_blank">Multiparty-Meeting</a>,
                                        possiamo continuare a lavorare, studiare, socializzare.
                                    </li>
                                </ol>
                            </nav>
                        </div>
                    </div>

                </div>
            </div>

            <div class="container-fluid" style="padding-top: 15px;">

                <div class="row" style="align-items: center;">
                    <div class="col-md-3">
                        <div class="card">
                            <div class="card-body">
                                <div class="d-flex d-lg-flex d-md-block align-items-center">
                                    <div>
                                        <div class="d-inline-flex align-items-center">
                                            <h2 class="text-dark mb-1 font-weight-medium">{{ hosts.length }}</h2>
                                            <!-- <span
                                                class="badge bg-primary font-12 text-white font-weight-medium badge-pill ml-2 d-lg-block d-md-none">+18.33%</span> -->
                                        </div>
                                        <h6 class="text-muted font-weight-normal mb-0 w-100 text-truncate">Server
                                            disponibili
                                        </h6>
                                    </div>
                                    <div class="ml-auto mt-md-3 mt-lg-0">
                                        <span class="opacity-7 text-muted"><i data-feather="server"></i></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-body">
                                <h3 class="card-title">Avvia la videoconferenza</h3>
                                <h5 class="card-subtitle my-3">Premi il pulsante <b>JITSI</b> per collegarti ad una
                                    stanza Jitsi Meet o clicca il pulsante <b>MM</b> per una stanza Multiparty Meeting
                                </h5>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><b>CREA</b></span>
                                    </div>
                                    <input v-model="room" autofocus="autofocus" v-on:keydown.enter="goToRoom"
                                        class="form-control" id="room-name" placeholder="Nome della stanza">
                                    <div class="input-group-append">
                                        <button @click="goToRoom('JITSI')" class="btn btn-primary"
                                            type="button"><b>JITSI</b></button>
                                    </div>
                                    <div class="input-group-append">
                                        <button @click="goToRoom('MM')" class="text-white btn btn-warning"
                                            type="button"><b>MM BETA</b></button>
                                    </div>
                                </div>
                                <!-- <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Crea</span>
                                    </div>
                                    <input v-model="room" autofocus="autofocus" v-on:keydown.enter="goToRoom"
                                        class="form-control" id="room-name" placeholder="nome della stanza">
                                    <div class="input-group-append">
                                        <button @click="goToRoom()" class="btn btn-success"
                                            type="button">
                                                <img class="jitsi-logo img-responsive" title="Jitsi Meet" src="./assets/images/big/jitsi.png">
                                                <i class="fa fa-play text-white font-14"
                                                    data-toggle="tooltip" title="Online">
                                                </i>
                                        <button @click="goToRoom()" class="btn btn-warning btn-rounded border-left"
                                            type="button">
                                                <img class="jitsi-logo img-responsive" title="Multiparty-Meeting" src="./assets/images/big/mm.png">
                                                <span class="text-white font-weight">BETA</span>
                                        </button>
                                    </div>
                                </div> -->
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card">
                            <div class="card-body">
                                <div class="d-flex d-lg-flex d-md-block align-items-center">
                                    <div>
                                        <div class="d-inline-flex align-items-center">
                                            <h2 class="text-dark mb-1 font-weight-medium">{{ connectedUsers() }}
                                            </h2>
                                            <!-- <span
                                                class="badge bg-success font-12 text-white font-weight-medium badge-pill ml-2 d-md-none d-lg-block">+48.83%</span> -->
                                        </div>
                                        <h6 class="text-muted font-weight-normal mb-0 w-100 text-truncate">Persone
                                            collegate
                                        </h6>
                                    </div>
                                    <div class="ml-auto mt-md-3 mt-lg-0">
                                        <span class="opacity-7 text-muted"><i data-feather="users"></i></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="table-responsive">

                                    <table class="table-striped table table-sm table-hover no-wrap v-middle mb-0">
                                        <thead>
                                            <tr class="border-0">
                                                <th class="border-0 font-14 font-weight-medium text-muted">Nome server
                                                </th>
                                                <th class="border-0 font-14 font-weight-medium text-muted text-center">
                                                    Utenti connessi
                                                </th>
                                                <th class="border-0 font-14 font-weight-medium text-muted text-center">
                                                    Carico
                                                </th>
                                                <th class="border-0 font-14 font-weight-medium text-muted text-center">
                                                    Stato
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr v-for="host in hosts">
                                                <td class="border-top-0 py-2">
                                                    <div class="d-flex no-block align-items-center">
                                                        <div class="mr-2">
                                                            <template v-if="host.software === 'MM'">
                                                                <img class="jitsi-logo img-responsive"
                                                                    title="Multiparty-Meeting"
                                                                    src="./assets/images/big/mm.png">
                                                            </template>
                                                            <template v-else>
                                                                <img class="jitsi-logo img-responsive"
                                                                    title="Jitsi Meet"
                                                                    src="./assets/images/big/jitsi.png">
                                                            </template>
                                                        </div>
                                                        <div>
                                                            <a :href="host.url">
                                                                <h4 class="text-dark mb-0 font-weight-medium">
                                                                    {{ host.name }}
                                                                </h4>
                                                            </a>
                                                            <span class="font-16">messo a disposizione da
                                                            </span>
                                                            <span v-html="unicorniMagici(host)">
                                                            </span>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td class="border-top-0 text-center py-2 font-18">
                                                    <template v-if="host.software === 'MM'">
                                                        <span data-toggle="tooltip" title="ci stiamo lavorando">❓</span>
                                                    </template>
                                                    <template v-else>
                                                        <b>{{ host.user_count }}</b>
                                                    </template>
                                                </td>
                                                <td class="border-top-0 text-center py-2">
                                                    <div v-if="host.cpu_usage != undefined || host.cpu_usage != null"
                                                        class="progress" v-html="cpuUsage(host.cpu_usage)">
                                                    </div>
                                                    <div v-else>
                                                        <span data-toggle="tooltip"
                                                            title="ci stiamo lavorando">🔜</span>
                                                    </div>
                                                </td>
                                                <td class="wrapper border-top-0 text-center py-2">
                                                    <i class="pulsar fa fa-circle text-success font-14"
                                                        data-toggle="tooltip" title="Online"></i>
                                                </td>
                                                <td class="border-top-0 text-center py-2">
                                                    <a :href="host.url">
                                                        <template v-if="host.software === 'MM'">
                                                            <div class="btn btn-warning btn-rounded font-12 text-white">
                                                                <b>BETA</b><i class="ml-1 fa fa-play text-white
                                                                    font-14" data-toggle="tooltip" title="Online"></i>
                                                            </div>
                                                        </template>
                                                        <template v-else>
                                                            <button type="button" class="btn btn-rounded btn-primary">
                                                                <i class="fa fa-play text-white font-14"
                                                                    data-toggle="tooltip" title="Online"></i>
                                                            </button>
                                                        </template>
                                                    </a>
                                                </td>
                                            </tr>
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <td>
                                                    <div style="margin-top: 12px;">
                                                        <a href="voglio-contribuire.html">
                                                            Aggiungi il tuo server a questa lista!
                                                        </a>
                                                    </div>
                                                </td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>


        </div>
        <footer class="footer text-center text-muted">
            Made with ❤️ in <a href="https://it.wikipedia.org/wiki/Fabriano" target="_blank">Fabriano</a>.
        </footer>

    </div>

    <script src="./assets/libs/jquery/dist/jquery.min.js"></script>
    <script src="./assets/libs/popper.js/dist/umd/popper.min.js"></script>
    <script src="./assets/libs/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- apps -->
    <!-- apps -->
    <script src="./dist/js/app-style-switcher.js"></script>
    <script src="./dist/js/feather.min.js"></script>
    <script src="./assets/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js"></script>
    <script src="./dist/js/sidebarmenu.js"></script>
    <!--Custom JavaScript -->
    <script src="./dist/js/custom.min.js"></script>
    <!--This page JavaScript -->
    <!-- <script src="./assets/extra-libs/c3/d3.min.js"></script>
    <script src="./assets/extra-libs/c3/c3.min.js"></script>
    <script src="./assets/libs/chartist/dist/chartist.min.js"></script>
    <script src="./assets/libs/chartist-plugin-tooltips/dist/chartist-plugin-tooltip.min.js"></script>
    <script src="./assets/extra-libs/jvector/jquery-jvectormap-2.0.2.min.js"></script>
    <script src="./assets/extra-libs/jvector/jquery-jvectormap-world-mill-en.js"></script>
    <script src="./dist/js/pages/dashboards/dashboard1.min.js"></script> -->
    <script src="dist/js/vue.min.js"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> -->
    <script>
        var app = new Vue({
            el: '#vue-table',
            data: {
                room: "",
                hosts: [],
            },
            mounted: function () {
                fetch('https://iorestoacasa.work/hosts.json')
                    .then(r => r.json())
                    .then(json => {
                        this.hosts = json.instances;
                        this.hosts.sort(function (a, b) {
                            if (a.software === 'MM')
                                return -1;
                            if (a.cpu_usage <= b.cpu_usage) {
                                return 0;
                            } else
                                return 1;
                        });

                    });
            },
            methods: {
                connectedUsers: function () {
                    // Somma degli utenti presenti all'interno del JSON
                    var sum = 0;
                    for (var i in this.hosts) {
                        if (this.hosts[i].user_count !== "?" && this.hosts[i].user_count !== undefined &&
                            this.hosts[i].user_count != null) {
                            // console.log(this.hosts[i].user_count);
                            sum += parseInt(this.hosts[i].user_count);
                        }
                    }
                    return sum;
                },
                average: function () {
                    if (this.connectedUsers() === 0) {
                        return "Just you 🤗"
                    }
                    return Math.round((this.connectedUsers() / this.hosts.lenght) * 100) / 100;
                },
                goToPage: function (url) {
                    window.open(url);
                },
                unicorniMagici: function (host) {
                    if (host.by === "\ud83e\udd84") {
                        return `<a href="https://unicorni.team/"><b>\ud83e\udd84</b></a> e <a
                            href="https://www.shellrent.com/"><b>Shellrent</b></a>`;
                    } else {
                        return `<a href=` + host.by_url + `><b>` + host.by + `</b></a>`;
                    }
                },
                cpuUsage: function (value) {
                    var color;
                    if (Math.round(value * 100) <= 60) {
                        color = "bg-success"
                    } else if (Math.round(value * 100) > 60 && Math.round(value * 100) <= 80) {
                        color = "bg-warning"
                    } else {
                        color = "bg-danger"
                    }
                    return `<div class="progress-bar ` + color + ` progress-bar-striped progress-bar-animated"
                        role="progressbar"
                        style="width: ` + Math.round(value * 100) + `%"
                        aria-valuenow="` + Math.round(value * 100) + `" aria-valuemin="0" aria-valuemax="100"></div>`
                },
                goToRoom: function (e) {
                    if (this.room === "") {
                        this.room = Math.random().toString(36).substring(2, 15) +
                            Math.random().toString(36).substring(2, 15);
                    }
                    this.room = this.room.replace(/([^a-z0-9]+)/gi, '-');

                    let base_url = this.hosts.find(u => u.software === e).url;
                    if (base_url.slice(-1) !== '/')
                        base_url += '/';
                    window.open(base_url + this.room);
                },
            },
        })
    </script>
</body>

</html>
