<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Primary Meta Tags -->
    <title>Io Resto A Casa .work</title>
    <meta name="title" content="Io Resto A Casa .work">
    <meta name="description" content="Continuiamo a lavorare, studiare, socializzare grazie a Jitsi Meet">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://iorestoacasa.work/">
    <meta property="og:title" content="Io Resto A Casa .work">
    <meta property="og:description" content="Continuiamo a lavorare, studiare, socializzare grazie a Jitsi Meet">
    <meta property="og:image" content="https://iorestoacasa.work/assets/images/logo-icon.png">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://iorestoacasa.work/">
    <meta property="twitter:title" content="Io Resto A Casa .work">
    <meta property="twitter:description" content="Continuiamo a lavorare, studiare, socializzare grazie a Jitsi Meet">
    <meta property="twitter:image" content="https://iorestoacasa.work/assets/images/logo-icon.png">

    <link rel="icon" type="image/png" sizes="16x16" href="./assets/images/favicon.png">
    <title>Io Resto A Casa .work</title>
    <link href="./assets/extra-libs/c3/c3.min.css" rel="stylesheet">
    <link href="./assets/libs/chartist/dist/chartist.min.css" rel="stylesheet">
    <link href="./assets/extra-libs/jvector/jquery-jvectormap-2.0.2.css" rel="stylesheet" />
    <link href="./dist/css/style.min.css" rel="stylesheet">
    <link href="./dist/css/background.css" rel="stylesheet">
    <style>
        .footer {
            position: fixed;
            bottom: 0;
            width: 100%;
            bottom: 0;
            left: 0;
            right: 0;
            justify-content: center;
            align-items: center;
            height: 40px;
            line-height: 30px;
            padding: 4px;
            background-color: #f9fbfd;
        }
    </style>
</head>

<body>
    <div class="preloader">
        <div class="lds-ripple">
            <div class="lds-pos"></div>
            <div class="lds-pos"></div>
        </div>
    </div>
    <div id="main-wrapper" data-theme="light" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
        data-sidebar-position="fixed" data-header-position="fixed" data-boxed-layout="full">
        <header class="topbar" data-navbarbg="skin6">
            <nav class="navbar top-navbar navbar-expand-md">
                <div class="navbar-header" data-logobg="skin6">
                    <a class="nav-toggler waves-effect waves-light d-block d-md-none" href="javascript:void(0)"><i
                            class="ti-menu ti-close"></i></a>
                    <div class="navbar-brand">
                        <a href="index.html">
                            <b class="logo-icon">
                                <img src="./assets/images/logo-icon.png" alt="homepage" class="dark-logo"
                                    style="width: 50px;" />
                            </b>

                            <span class="logo-text">
                                <span
                                    style="margin-left: 6px; color: #272727; font-size: 22px;"><b>io</b>restoacasa</span>
                            </span>
                        </a>
                    </div>

                    <a class="topbartoggler d-block d-md-none waves-effect waves-light" href="come-si-usa.html"><i
                            class="fas fa-question-circle"></i></a>
                </div>

                <div class="navbar-collapse collapse" id="navbarSupportedContent">

                    <ul class="navbar-nav float-left mr-auto ml-3 pl-1">

                        <li class="nav-item d-none d-md-block">
                            <a class="nav-link">
                                <div class="customize-input">
                                    <button type="button" class="btn btn-rounded
                                        btn-secondary"><b>#smartwork</b></button>
                                </div>
                            </a>
                        </li>

                        <li class="nav-item d-none d-md-block">
                            <a class="nav-link" href="crediti.html">
                                <i data-feather="info" class="svg-icon"></i>
                            </a>
                        </li>


                    </ul>
                    <ul class="navbar-nav float-right">
                        <li class="nav-item d-none d-md-block">
                            <a class="nav-link dropdown-toggle" href="come-si-usa.html">
                                <i class="fas fa-question-circle"></i>
                                <span class="ml-2 d-none d-lg-inline-block"><span>Hey,</span> <span
                                        class="text-dark">serve aiuto?</span></span>
                            </a>
                        </li>

                    </ul>
                </div>
            </nav>
        </header>
        <aside class="left-sidebar" data-sidebarbg="skin6">
            <div class="scroll-sidebar" data-sidebarbg="skin6">
                <nav class="sidebar-nav">
                    <ul id="sidebarnav">
                        <li class="sidebar-item selected">
                            <a class="sidebar-link sidebar-link active" href="index.html" aria-expanded="false">
                                <i data-feather="home" class="feather-icon"></i>
                                <span class="hide-menu">Homepage</span>
                            </a>
                        </li>
                        <li class="list-divider"></li>
                        <li class="nav-small-cap"><span class="hide-menu">Utilità</span></li>
                        <li class="sidebar-item">
                            <a class="sidebar-link sidebar-link" href="come-si-usa.html" aria-expanded="false">
                                <i data-feather="help-circle" class="feather-icon"></i>
                                <span class="hide-menu">Come si usa?</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link sidebar-link" href="voglio-contribuire.html" aria-expanded="false">
                                <i data-feather="heart" class="feather-icon"></i>
                                <span class="hide-menu">Voglio contribuire!</span>
                            </a>
                        </li>

                        <li class="list-divider"></li>
                        <li class="nav-small-cap"><span class="hide-menu">Informazioni</span></li>
                        <li class="sidebar-item">
                            <a class="sidebar-link sidebar-link" href="contatti.html" aria-expanded="false">
                                <i data-feather="send" class="feather-icon"></i>
                                <span class="hide-menu">Contatti</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link sidebar-link" href="crediti.html" aria-expanded="false">
                                <i data-feather="award" class="feather-icon"></i>
                                <span class="hide-menu">Crediti</span>
                            </a>
                        </li>
                        <!-- <li class="list-divider"></li>
                        <li class="nav-small-cap"><span class="hide-menu">Utilità</span></li>

                        <li class="sidebar-item"> <a class="sidebar-link" href="faq.html" aria-expanded="false"><i
                                    data-feather="message-square" class="feather-icon"></i><span class="hide-menu">F.A.Q
                                </span></a>
                        </li>
                        <li class="sidebar-item"> <a class="sidebar-link sidebar-link" href="contacts.html"
                                aria-expanded="false"><i data-feather="mail" class="feather-icon"></i><span
                                    class="hide-menu">Contatti</span></a></li>
                        <li class="list-divider"></li>

                        <li class="nav-small-cap"><span class="hide-menu">Informazioni</span></li>
                        <li class="sidebar-item"> <a class="sidebar-link sidebar-link" href="https://befair.it"
                                aria-expanded="false"><i data-feather="briefcase" class="feather-icon"></i><span
                                    class="hide-menu">beFair</span></a></li>
                        <li class="sidebar-item"> <a class="sidebar-link sidebar-link" href="#" aria-expanded="false"><i
                                    data-feather="share-2" class="feather-icon"></i><span
                                    class="hide-menu">Condividi!</span></a></li> -->
                    </ul>
                </nav>
            </div>
        </aside>

        <div class="page-wrapper" id="vue-table">


            <div class="page-breadcrumb mb-4">
                <div class="row">
                    <div class="col-12 align-self-center">
                        <h1 class="page-title text-dark font-weight-medium mb-1">Restiamo a casa, ma continuiamo a
                            vederci!</h1>
                        <div class="d-flex align-items-center">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb m-0 p-0">
                                    <li class="breadcrumb-item">
                                        Grazie al software di videochiamate open source <a
                                            href="https://jitsi.org/jitsi-meet/" target="_blank">Jitsi Meet</a>,
                                        possiamo continuare a lavorare, studiare, socializzare.
                                    </li>
                                </ol>
                            </nav>
                        </div>
                    </div>

                </div>
            </div>

            <div class="container-fluid">
                <!-- <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <h2 class="card-title">Crea la tua stanza</h2>
                                <h6 class="card-subtitle mt-2">Assegna un nome alla stanza, come ad esempio
                                    <code>lavoro-magico-per-Giorgio</code>, all'interno della casella di testo</h6>
                                <form class="mt-3">
                                    <label class="form-control-label" for="inputSuccess1">Inserisci il testo</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" id="placeholder"
                                            placeholder="Nome della stanza">
                                        <div class="input-group-append">
                                            <button class="btn btn-success" type="button"><b>CREA</b></button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div> -->


                <div class="card-group">
                    <div class="card border-right">
                        <div class="card-body">
                            <div class="d-flex d-lg-flex d-md-block align-items-center">
                                <div>
                                    <div class="d-inline-flex align-items-center">
                                        <h2 class="text-dark mb-1 font-weight-medium">{{ hosts.length }}</h2>
                                        <!-- <span
                                            class="badge bg-primary font-12 text-white font-weight-medium badge-pill ml-2 d-lg-block d-md-none">+18.33%</span> -->
                                    </div>
                                    <h6 class="text-muted font-weight-normal mb-0 w-100 text-truncate">Server
                                        disponibili
                                    </h6>
                                </div>
                                <div class="ml-auto mt-md-3 mt-lg-0">
                                    <span class="opacity-7 text-muted"><i data-feather="server"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card ">
                        <div class="card-body">
                            <div class="d-flex d-lg-flex d-md-block align-items-center">
                                <div>
                                    <div class="d-inline-flex align-items-center">
                                        <h2 class="text-dark mb-1 font-weight-medium">{{ connectedUsers() }}</h2>
                                        <!-- <span
                                            class="badge bg-success font-12 text-white font-weight-medium badge-pill ml-2 d-md-none d-lg-block">+48.83%</span> -->
                                    </div>
                                    <h6 class="text-muted font-weight-normal mb-0 w-100 text-truncate">Persone collegate
                                    </h6>
                                </div>
                                <div class="ml-auto mt-md-3 mt-lg-0">
                                    <span class="opacity-7 text-muted"><i data-feather="users"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="card border-right">
                        <div class="card-body">
                            <div class="d-flex d-lg-flex d-md-block align-items-center">
                                <div>
                                    <div class="d-inline-flex align-items-center">
                                        <h2 class="text-dark mb-1 font-weight-medium">3 ore</h2>
                                        <span
                                            class="badge bg-danger font-12 text-white font-weight-medium badge-pill ml-2 d-md-none d-lg-block">-18.33%</span>
                                    </div>
                                    <h6 class="text-muted font-weight-normal mb-0 w-100 text-truncate">Tempo risparmiato
                                    </h6>
                                </div>
                                <div class="ml-auto mt-md-3 mt-lg-0">
                                    <span class="opacity-7 text-muted"><i data-feather="clock"></i></span>
                                </div>
                            </div>
                        </div>
                    </div> -->
                    <!-- <div class="card">
                        <div class="card-body">
                            <div class="d-flex d-lg-flex d-md-block align-items-center">
                                <div>
                                    <div class="d-inline-flex align-items-center">
                                        <h2 class="text-dark mb-1 w-100 text-truncate font-weight-medium">
                                            {{ average() }}
                                        </h2>
                                        <div v-if="average() > 8">
                                            <span
                                                class="badge bg-danger font-12 text-white font-weight-medium badge-pill ml-2 d-md-none d-lg-block">
                                                Non buona
                                            </span>
                                        </div>
                                        <div v-else-if="average() > 3 && average() <= 8">
                                            <span
                                                class="badge bg-warning font-12 text-white font-weight-medium badge-pill ml-2 d-md-none d-lg-block">
                                                Non buona
                                            </span>
                                        </div>
                                        <div v-else-if="average() <= 3">
                                            <span
                                                class="badge bg-success font-12 text-white font-weight-medium badge-pill ml-2 d-md-none d-lg-block">
                                                Ottima
                                            </span>
                                        </div>
                                    </div>
                                    <h6 class="text-muted font-weight-normal mb-0 w-100 text-truncate">Media persone per
                                        server
                                    </h6>
                                </div>
                                <div class="ml-auto mt-md-3 mt-lg-0">
                                    <span class="opacity-7 text-muted"><i data-feather="activity"></i></span>
                                </div>
                            </div>
                        </div>
                    </div> -->
                </div>


                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="d-flex align-items-center mb-4">
                                    <h2 class="card-title">
                                        Collegati ad uno dei server, crea una stanza, condividi il link.
                                    </h2>
                                    <div class="ml-auto">
                                        <button onclick="location.reload()"
                                            class="btn btn-link text-muted dropdown-toggle" type="button" id="dd1"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i data-feather="refresh-cw"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="table-responsive">
                                    <table class="table table-hover no-wrap v-middle mb-0">
                                        <thead>
                                            <tr class="border-0">
                                                <th class="border-0 font-14 font-weight-medium text-muted">Nome server
                                                </th>
                                                <th
                                                    class="border-0 font-14 font-weight-medium text-muted text-center px-2">
                                                    Utenti connessi
                                                </th>
                                                <th class="border-0 font-14 font-weight-medium text-muted text-center">
                                                    Stato
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr v-for="host in hosts">
                                                <td class="border-top-0 px-2 py-4">
                                                    <div class="d-flex no-block align-items-center">
                                                        <div class="">
                                                            <a :href="host.url">
                                                                <h4 class="text-dark mb-0 font-weight-medium">
                                                                    {{ host.name }}
                                                                </h4>
                                                            </a>
                                                            <span class="text-muted font-16">
                                                                messo a disposizione da <a
                                                                    :href="host.by_url"><b>{{ host.by }}</b></a>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td class="border-top-0 text-muted text-center px-2 py-4 font-14">
                                                    <template v-if="host.user_count === '?'">
                                                        <b data-toggle="tooltip" title="funzionalità in arrivo!">?</b>
                                                    </template>
                                                    <template v-else>
                                                        {{ host.user_count }}
                                                    </template>
                                                </td>
                                                <td class="border-top-0 text-center px-2 py-4">
                                                    <i class="fa fa-circle text-success font-12" data-toggle="tooltip"
                                                        title="Online"></i>
                                                </td>
                                                <td class="border-top-0 text-center px-2 py-4">
                                                    <button @click="window.location.replace(host.url);" type="button"
                                                        class="btn btn-rounded btn-primary">
                                                        <i class="fa fa-play text-white font-12" data-toggle="tooltip"
                                                            title="Online"></i>
                                                    </button>
                                                </td>
                                            </tr>
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <td>
                                                    <a href="voglio-contribuire.html">
                                                        Aggiungi il tuo server a questa lista!
                                                    </a>
                                                </td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>


        </div>
        <footer class="footer text-center text-muted">
            Made with ❤️ in <a href="https://it.wikipedia.org/wiki/Fabriano" target="_blank">Fabriano</a>.
        </footer>

    </div>

    <script src="./assets/libs/jquery/dist/jquery.min.js"></script>
    <script src="./assets/libs/popper.js/dist/umd/popper.min.js"></script>
    <script src="./assets/libs/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- apps -->
    <!-- apps -->
    <script src="./dist/js/app-style-switcher.js"></script>
    <script src="./dist/js/feather.min.js"></script>
    <script src="./assets/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js"></script>
    <script src="./dist/js/sidebarmenu.js"></script>
    <!--Custom JavaScript -->
    <script src="./dist/js/custom.min.js"></script>
    <!--This page JavaScript -->
    <!-- <script src="./assets/extra-libs/c3/d3.min.js"></script>
    <script src="./assets/extra-libs/c3/c3.min.js"></script>
    <script src="./assets/libs/chartist/dist/chartist.min.js"></script>
    <script src="./assets/libs/chartist-plugin-tooltips/dist/chartist-plugin-tooltip.min.js"></script>
    <script src="./assets/extra-libs/jvector/jquery-jvectormap-2.0.2.min.js"></script>
    <script src="./assets/extra-libs/jvector/jquery-jvectormap-world-mill-en.js"></script>
    <script src="./dist/js/pages/dashboards/dashboard1.min.js"></script> -->
    <script src="dist/js/vue.min.js"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> -->
    <script>
        var app = new Vue({
            el: '#vue-table',
            data: {
                hosts: [],
                fixed_hosts: [{
                        name: "jitsi.linux.it",
                        user_count: "?",
                        by: "ILS",
                        by_url: "https://www.ils.org/",
                        url: "https://jitsi.linux.it"
                    },
                    {
                        name: "jitsi2.linux.it",
                        user_count: "?",
                        by: "ILS",
                        by_url: "https://www.ils.org/",
                        url: "https://jitsi2.linux.it"
                    },
                    {
                        name: "webmeeting.opensolution.it",
                        user_count: "?",
                        by: "Open Solution Srl",
                        by_url: "https://www.opensolution.it",
                        url: "https://webmeeting.opensolution.it"
                    }
                ],
            },
            mounted: function () {
                fetch('https://iorestoacasa.work/hosts.json')
                    .then(r => r.json())
                    .then(json => {
                        this.hosts = json.concat(this.fixed_hosts);
                    });

            },
            methods: {
                connectedUsers: function () {
                    // Somma degli utenti presenti all'interno del JSON
                    var sum = 0;
                    for (var i in this.hosts) {
                        if (this.hosts[i].user_count !== "?" && this.hosts[i].user_count !== undefined) {
                            // console.log(this.hosts[i].user_count);
                            sum += parseInt(this.hosts[i].user_count);
                        }
                    }
                    return sum;
                },
                average: function () {
                    if (this.connectedUsers() === 0) {
                        return "Just you 🤗"
                    }
                    return Math.round((this.connectedUsers() / this.hosts.lenght) * 100) / 100;
                },
                goToPage: function (url) {
                    window.open(url);
                }
            },
        })
    </script>
</body>

</html>