---
layout: page
---
<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>
    <style>
        @media (min-width: 575.98px) {
            .bottom-button {
                position: absolute;
                bottom: 16px;
            }
        }
    </style>
</head>

<body>
    <div class="preloader">
        <div class="lds-ripple">
            <div class="lds-pos"></div>
            <div class="lds-pos"></div>
        </div>
    </div>
    <div id="main-wrapper" data-theme="light" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
        data-sidebar-position="fixed" data-header-position="fixed" data-boxed-layout="full">
        <header class="topbar" data-navbarbg="skin6">
            <nav class="navbar top-navbar navbar-expand-md">
                <div class="navbar-header" data-logobg="skin6">
                    <a class="nav-toggler waves-effect waves-light d-block d-md-none" href="javascript:void(0)"><i
                            class="ti-menu ti-close"></i></a>
                    <div class="navbar-brand">
                        <a href="index.html">
                            <b class="logo-icon">
                                <img src="./assets/images/logo-icon.png" alt="homepage" class="dark-logo"
                                    style="width: 50px;" />
                            </b>

                            <span class="logo-text">
                                <span
                                    style="margin-left: 6px; color: #272727; font-size: 22px;"><b>io</b>restoacasa</span>
                            </span>
                        </a>
                    </div>

                    <a class="topbartoggler d-block d-md-none waves-effect waves-light" href="come-si-usa.html"><i
                            class="fas fa-question-circle"></i></a>
                </div>

                <div class="navbar-collapse collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav float-left mr-auto ml-3 pl-1">
                        <li class="nav-item d-none d-md-block">
                            <a class="nav-link" href="crediti.html">
                                <i data-feather="info" class="svg-icon"></i>
                            </a>
                        </li>
                    </ul>
                    <ul class="navbar-nav float-right">
                        <li class="nav-item d-none d-md-block">
                            <a class="nav-link dropdown-toggle" href="come-si-usa.html">
                                <i class="fas fa-question-circle"></i>
                                <span class="ml-2 d-none d-lg-inline-block"><span>Hey,</span> <span
                                        class="text-dark">serve aiuto?</span></span>
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        {%include sidebar.html%}

        <div class="page-wrapper">


            <div class="page-breadcrumb">
                <div class="row">
                    <div class="col-12 align-self-center">
                        <h1 class="page-title text-dark font-weight-medium mb-1">Rassegna stampa</h1>
                        <div class="d-flex align-items-center">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb m-0 p-0">
                                    <li class="breadcrumb-item">Quello che i giornali e le persone hanno detto di noi
                                    </li>
                                </ol>
                            </nav>
                        </div>
                    </div>

                </div>
            </div>


            <div class="container-fluid" style="padding-top: 15px;">

                <div class="row">
                    <div class="col-12">
                        <div class="card-deck">
                            <div class="card">
                                <div class="card-header">
                                    <p class="card-text"><small class="text-muted">28 Marzo 2020</small></p>
                                </div>
                                <img class="card-img-top img-fluid"
                                    src="https://cdn.cronachemaceratesi.it/wp-content/uploads/2019/09/notte-dei-ricercatori-unicam-camerino-rettore-claudio-pettinari-2019-foto-ap-1-650x433.jpg">
                                <div class="card-body">
                                    <h4 class="card-title">Croncache Maceratesi</h4>
                                    <p class="card-text">Anche L'Università di Camerino aderisce in pieno al progetto
                                        Open Source</p>
                                    <br>
                                    <a href="https://www.cronachemaceratesi.it/2020/03/28/iorestoacasa-work-unicam-aderisce-al-progetto/1381806/"
                                        class="mt-4 bottom-button btn btn-primary"><b>ARTICOLO</b></a>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header">
                                    <p class="card-text"><small class="text-muted">Manfredi Mangano, 27 Marzo
                                            2020</small></p>
                                </div>
                                <img class="card-img-top img-fluid"
                                    src="https://img.huffingtonpost.com/asset/5e7caf8c2400004b0ccea574.jpeg?ops=scalefit_630_noupscale">
                                <div class="card-body">
                                    <h4 class="card-title">Huffington Post</h4>
                                    <p class="card-text">#restiamoaccanto con l’iniziativa solidale di PDP Free User
                                        Software</p>
                                    <br>
                                    <a href="https://www.huffingtonpost.it/entry/restiamoaccanto-con-liniziativa-solidale-di-pdp-free-user-software_it_5e7cab4ec5b6cb08a928e56a"
                                        class="bottom-button btn btn-primary"><b>ARTICOLO</b></a>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header">
                                    <p class="card-text"><small class="text-muted">Edizione delle 19:30, 26 Marzo
                                            2020</small></p>
                                </div>
                                <img class="card-img-top img-fluid"
                                    src="https://www.rainews.it/cropgd/540x300/dl/rai24/assets/images/tgr/social-tgr.png">
                                <div class="card-body">
                                    <h4 class="card-title">TGR Basilicata</h4>
                                    <p class="card-text">Servizio che illustra il software realizzato dal team di
                                        svilluppatori fabrianesi</p>
                                    <br>
                                    <a href="https://www.rainews.it/tgr/basilicata/notiziari/index.html?/tgr/video/2020/03/ContentItem-6eddfa55-e3af-4173-8631-431a96f87bcc.html"
                                        class="bottom-button btn btn-primary"><b>VIDEO</b></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row my-4">
                    <div class="col-12">
                        <div class="card-deck">
                            <div class="card">
                                <div class="card-header">
                                    <p class="card-text"><small class="text-muted">Arturo di Corinto, 24 Marzo
                                            2020</small></p>
                                </div>
                                <img class="card-img-top img-fluid"
                                    src="https://www.repstatic.it/content/nazionale/img/2020/03/24/184125757-b4846566-fb0f-4802-8b45-c907952218c7.jpg">
                                <div class="card-body">
                                    <h4 class="card-title">La Repubblica</h4>
                                    <p class="card-text">Progetto solidale e partecipativo che ha
                                        chiamato a raccolta le comunità del software libero. Aderiscono gli alfieri
                                        dell’Internet italiana, Garr e Cnr</p>
                                    <br>
                                    <a href="https://www.repubblica.it/tecnologia/2020/03/24/news/videoconferenze_parte_la_gara_di_solidarieta_per_offrirle_gratis_a_tutti-252205749/"
                                        class="bottom-button btn btn-primary"><b>ARTICOLO</b></a>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header">
                                    <p class="card-text"><small class="text-muted">Claudio Curti, 16 Marzo
                                            2020</small></p>
                                </div>
                                <img class="card-img-top img-fluid" src="https://i.imgur.com/wCxetIG.jpg">
                                <div class="card-body">
                                    <h4 class="card-title">Centro Pagina</h4>
                                    <p class="card-text">Progetto made in Fabriano per lo smart e remote working</p>
                                    <br>
                                    <a href="https://www.centropagina.it/fabriano/progetto-made-fabriano-smart-working/"
                                        class="bottom-button btn btn-primary"><b>ARTICOLO</b></a>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header">
                                    <p class="card-text"><small class="text-muted">Manfredi Mangano, 16 Marzo
                                            2020</small></p>
                                </div>
                                <img class="card-img-top img-fluid"
                                    src="https://www.qdmnotizie.it/wordpress/wp-content/uploads/2018/01/personal-computer.jpeg">
                                <div class="card-body">
                                    <h4 class="card-title">QMD Notizie</h4>
                                    <p class="card-text"> Il COVID19 blocca a casa, ma non attraverso le nuove
                                        tecnologie è possibile continuare a lavorare, studiare e socializzare</p>
                                    <br>
                                    <a href="https://www.qdmnotizie.it/fabriano-io-resto-a-casa-work-il-lavoro-agile-parla-fabrianese/"
                                        class="bottom-button btn btn-primary"><b>ARTICOLO</b></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            {%include footer.html%}

        </div>
        <script src="./assets/libs/jquery/dist/jquery.min.js"></script>
        <script src="./assets/libs/popper.js/dist/umd/popper.min.js"></script>
        <script src="./assets/libs/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="./dist/js/app-style-switcher.js"></script>
        <script src="./dist/js/feather.min.js"></script>
        <script src="./assets/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js"></script>
        <script src="./dist/js/sidebarmenu.js"></script>
        <script src="./dist/js/custom.min.js"></script>
</body>

</html>